/*
Theme Name: WEAA
Theme URI: http://underscores.me/
Author: Jeff McNear
Author URI: http://plasterdog.com
Description: underscores based custom theme whcih includes 6 unique page templates and accommdates 2 additional custom post types. See dashboard for link to custom manual for further clarification
Version: 1.7.2
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: weaa
*/
/*"Myriad Pro",Tahoma,Helvetica,Verdana,Arial*/
/*-- same as body text color --*/
/*-- same as body text color --*/
/*--- same as main purple color ---*/
/*--- same as medium purple color ---*/
/*-------------MODIFIED COLORS -------------*/
/*663399 | 54386b*/
/*6666cc | 7d6ca2*/
/* b1b6d4 */
/*--NEW--*/
/* ffcc99 | fdc383*/
/* 293ae7 */
/* f67648 | f68a70*/
/* 676b74  */
/*--98d7a4--*/
/* bfbfbf */
/*---------------------------------- THE RESET SECTION -------------------------------------------------*/
/*--- making things less confusing for layout when the editor is logged in ---*/
.logged-in .outer-slider-container, .logged-in .outer-locations-container { margin-top: 128px; }

/*---------------------------------------------------------------General purpose -------------------------------------------------*/
.clear { clear: both; }

.clear-section { padding: 2em 0 0 0; clear: both; }

.twentybump { padding-top: 20px; }

/*--- DEFAULT UNDERSCORES -RESET & BASIC STYLES ---*/
a { background-color: transparent; }

a:active, a:hover { outline: 0; }

html { font-family: "Foundry Sans", "Frutiger", "Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

h1 { font-size: 2em; margin: 0.67em 0; }

mark { background: #ff0; color: #000; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

figure { margin: 1em 40px; }

hr { box-sizing: content-box; height: 0; }

pre { overflow: auto; }

code, kbd, pre, samp { font-family: monospace,monospace; font-size: 1em; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }

button { overflow: visible; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; }

textarea { overflow: auto; }

optgroup { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

/*-------------------------# Elements--------------------------------------------------------------*/
html { box-sizing: border-box; }

*, *:before, *:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */ box-sizing: inherit; }

body { background: #e6eaed; /* Fallback for when there is no custom background color defined. */ overflow-x: hidden; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; }

blockquote, q { quotes: "" ""; }

hr { background-color: #ccc; border: 0; height: 3px; margin-bottom: 1.5em; }

ul, ol { margin: 0 1.5em 2em 1.5em; }

ul { list-style: disc; }

ol { list-style: decimal; }

li > ul, li > ol { margin-bottom: 0; margin-left: 1.5em; }

dt { font-weight: bold; }

dd { margin: 0 1.5em 1.5em; }

img { height: auto; /* Make sure images are scaled correctly. */ max-width: 100%; /* Adhere to container width. */ }

figure { margin: 0 0 .5em 0; /* Extra wide images within figure tags don't overflow the content area. */ }

table { margin: 0 0 1.5em; width: 100%; }

/*---------------------------# Forms-------------------------------------------------------------*/
button, input[type="button"], input[type="reset"], input[type="submit"] { border: 1px solid; border-color: #5B3B8C; border-radius: 3px; background: #5B3B8C; color: #ffffff; border: none; margin: .5em 1em; padding: .25em 1em; font-family: "Foundry Sans", "Frutiger", "Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif; font-size: 1.5em; -webkit-border-radius: 25px; border-radius: 25px; }

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover { background-color: #765DA0; }

button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active { border-color: #aaa #bbb #bbb; }

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea { color: #666; border: 1px solid #ccc; border-radius: 3px; padding: 3px; }

select { border: 1px solid #ccc; }

input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="range"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="color"]:focus, textarea:focus { color: #111; }

textarea { width: 100%; }

/*-----------------------------# Accessibility--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute !important; height: 1px; width: 1px; overflow: hidden; word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }

.screen-reader-text:focus { background-color: #f1f1f1; border-radius: 3px; box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; color: #21759b; display: block; font-size: 14px; font-size: 0.875rem; font-weight: bold; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; text-decoration: none; top: 5px; width: auto; z-index: 100000; /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus { outline: 0; }

/*------------------------------------# Alignments--------------------------------------------------------------*/
.alignleft { display: inline; float: left; margin-right: 1.5em; margin-bottom: 1em; }

.alignright { display: inline; float: right; margin-left: 1.5em; }

.aligncenter { clear: both; display: block; margin-left: auto; margin-right: auto; }

/*-----------------------------# Clearings--------------------------------------------------------------*/
.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after { content: ""; display: table; table-layout: fixed; }

.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after { clear: both; }

/*----------------------# Widgets--------------------------------------------------------------*/
.widget { margin: 0 0 1.5em; }

/* Make sure select elements fit in widgets. */
.widget select { max-width: 100%; }

/*-------------------------------# Content--------------------------------------------------------------*/
/*-----------------------------## Posts and pages--------------------------------------------------------------*/
.sticky { display: block; }

.hentry { margin: 0 0 1.5em; }

.byline, .updated:not(.published) { display: none; }

.single .byline, .group-blog .byline { display: inline; }

.page-content, .entry-content, .entry-summary { margin: 1.5em 0 0; }

.page-links { clear: both; margin: 0 0 1.5em; }

.entry-header { position: relative; }

/*-------------------------## Comments--------------------------------------------------------------*/
.comment-content a { word-wrap: break-word; }

.bypostauthor { display: block; }

/*-------------------------# Infinite scroll--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, .infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */ display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer { display: block; }

/*--------------------------# Media--------------------------------------------------------------*/
.page-content .wp-smiley, .entry-content .wp-smiley, .comment-content .wp-smiley { border: none; margin-bottom: 0; margin-top: 0; padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed, iframe, object { max-width: 100%; }

/*----------------------------## Captions--------------------------------------------------------------*/
.wp-caption { margin-bottom: 1.5em; max-width: 100%; }

.wp-caption img[class*="wp-image-"] { display: block; margin-left: auto; margin-right: auto; }

.wp-caption .wp-caption-text { margin: 0.8075em 0; font-style: italic; padding-bottom: 1em; }

.wp-caption-text { text-align: center; }

/*-----------------------------## Galleries--------------------------------------------------------------*/
.gallery { margin-bottom: 1.5em; }

.gallery-item { display: inline-block; text-align: center; vertical-align: top; width: 100%; }

.gallery-columns-2 .gallery-item { max-width: 50%; }

.gallery-columns-3 .gallery-item { max-width: 32.33%; margin-right: 1%; }

.gallery-columns-4 .gallery-item { max-width: 24%; margin-right: 1%; }

.gallery-columns-5 .gallery-item { max-width: 19%; margin-right: 1%; }

.gallery-columns-6 .gallery-item { max-width: 16.66%; }

.gallery-columns-7 .gallery-item { max-width: 14.28%; }

.gallery-columns-8 .gallery-item { max-width: 12.5%; }

.gallery-columns-9 .gallery-item { max-width: 11.11%; }

.gallery-caption { display: block; }

/*------------------------------ THE TYPOGRAPHY SECTION -----------------------*/
/*-----------# Typography--------------------------------------------------------------*/
body, button, input, select, textarea { color: #404040; font-family: "Foundry Sans", "Frutiger", "Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif; font-size: 16px; font-size: 1rem; line-height: 1.5; }

h1, h2, h3, h4, h5, h6 { clear: both; }

p { margin-bottom: 1.5em; }

dfn, cite, em, i { font-style: italic; }

blockquote { margin: 0 1.5em; }

address { margin: 0 0 1.5em; }

pre { background: #eee; font-family: "Courier 10 Pitch",Courier,monospace; font-size: 15px; font-size: 0.9375rem; line-height: 1.6; margin-bottom: 1.6em; max-width: 100%; overflow: auto; padding: 1.6em; }

code, kbd, tt, var { font-family: Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace; font-size: 15px; font-size: 0.9375rem; }

abbr, acronym { border-bottom: 1px dotted #666; cursor: help; }

mark, ins { background: #fff9c0; text-decoration: none; }

big { font-size: 125%; }

h1.archive-title, .archive-excerpt h1, .full-width-excerpt h1 { margin: 0; color: #190a16; font-weight: normal; padding-top: 0; font-size: 1.5em; }

h1.page-entry-title { margin: 0; color: #ffffff; font-weight: normal; padding: 1em 0; font-size: 4em; position: relative; top: -350px; margin-bottom: -175px; }

/*-----------------------------## Links--------------------------------------------------------------*/
a { color: royalblue; }

a:visited { color: purple; }

a:hover, a:focus, a:active { color: midnightblue; }

a:focus { outline: thin dotted; }

a:hover, a:active { outline: 0; }

p.archive-link { text-align: right; }

/*-------------------------------------Links--------------------------------------------------------------*/
a { color: #6799C8; text-decoration: none; }

a:visited { color: #6799C8; }

a:hover { text-decoration: underline; }

a:focus { outline: 0; }

a:hover, a:active { outline: 0; color: #6799C8; }

/* -----------------------------TYPOGRAPHY OVER-RIDES ----------------------------------------------------*/
.site-main aside { padding: 1em; margin: 1em; border: 1px solid; }

.site-main aside ul, .site-main aside ol { margin: 0 2em 0 2em; }

h1 { font-size: 1.5em; color: #5B3B8C; line-height: 1.1em; margin: 0 0 .5em 0; font-family: "Foundry Sans", "Frutiger", "Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif; letter-spacing: .05em; }

h2 { font-size: 1.2em; font-weight: normal; color: #5B3B8C; line-height: 1.1em; margin: 0 0 1em 0; font-family: "Foundry Sans", "Frutiger", "Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif; letter-spacing: .05em; display: block; clear: none; font-weight: bold; }

h3 { font-size: 1.1em; color: #5B3B8C; line-height: 1.1em; margin: 0 0 .5em 0; font-family: "Foundry Sans", "Frutiger", "Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif; letter-spacing: .05em; font-weight: bold; }

h4 { font-size: 1.05em; font-weight: normal; color: #5B3B8C; line-height: 1.1em; margin: 0 0 .5em 0; font-family: "Foundry Sans", "Frutiger", "Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif; letter-spacing: .05em; font-weight: bold; }

h5 { font-size: 1em; color: #5B3B8C; line-height: 1.1em; margin: 0 0 .5em 0; font-family: "Foundry Sans", "Frutiger", "Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif; letter-spacing: .05em; font-weight: bold; }

h6 { font-size: 1em; font-weight: normal; color: #5B3B8C; line-height: 1.1em; margin: 0 0 .5em 0; font-family: "Foundry Sans", "Frutiger", "Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif; letter-spacing: .05em; font-weight: normal; }

p { margin-bottom: 1.5em; margin-top: -.5em; /*text-align: justify;*/ line-height: 1.35em; font-size: .85em; }

h1.entry-title { margin: .5em 0; color: #5B3B8C; font-size: 1.75em; /*letter-spacing:.1em; */ padding-bottom: .5em; }

h1.little-title { margin: .5em 0; color: #5B3B8C; padding-bottom: .5em; font-size: 1em; /*letter-spacing:.1em; */ font-weight: normal; margin: 0 0 1.5em 0; text-align: right; }

h1.entry-title .sub-entry-title { color: #5B3B8C; }

h1.entry-title .sub-entry-title:before { content: "|"; color: #5B3B8C; padding: 0 .25em; }

.page-content, .entry-content, .entry-summary { margin: 0; }

p.site-description { margin: 0 0 1em 0; color: #282828; }

h2.entry-title { margin: .25em 0; }

/*--- SIDEBAR TYPOGRAPHY --*/
#secondary h2 { font-size: 1.25em; font-weight: bold; font-family: "Foundry Sans", "Frutiger", "Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif; background: #ffffff; text-align: center; padding: 1em 0 0 0; margin: 0; }

#secondary ul { list-style: none; padding: 0; }

#secondary .widget_nav_menu { font-size: 1em; }

#secondary .widget_nav_menu a { text-decoration: none; }

#secondary .widget_nav_menu a:hover { color: #b16d00; text-decoration: underline; }

#secondary li { line-height: 1em; margin-bottom: 1em; text-align: left; }

#secondary .textwidget h2 { font-size: 1em; font-weight: bold; font-family: "Foundry Sans", "Frutiger", "Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif; background: transparent; text-align: left; padding: .5em 0; margin: 0; }

#secondary .textwidget ul { list-style: disc; padding: 0 0 0 1em; }

secondary li { line-height: 1em; margin-bottom: 1em; text-align: left; }

/*--- SPECIAL FOR THE DEFAULT SIDEBAR ---*/
#secondary .textwidget .grow-container h2 { padding: .5em 0 1em 0; font-size: 1.1em; }

#secondary .textwidget .grow-container h3 { margin: 0 0 .25em 0; }

#secondary .textwidget .grow-container h3::first-letter { font-weight: bold; }

#secondary .textwidget .grow-container ul { padding: 0 0 1em 1em; }

#secondary .textwidget .grow-container li { margin-bottom: .25em; }

/*--------------------------- THE NAVIGATION SECTION --------------------------------------------------------------*/
/*--------------------------------------------------------------MAIN MENU ---------------------------------------------------------*/
.main-navigation { clear: both; display: block; float: left; width: 100%; font-family: "Foundry Sans", "Frutiger", "Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif; }

.main-navigation ul { display: none; list-style: none; margin: 0; padding-left: 0; }

.main-navigation li { float: left; position: relative; }

.main-navigation a { display: block; text-decoration: none; font-weight: normal; }

.main-navigation ul ul { box-shadow: 0 3px 3px rgba(0, 0, 0, 0); float: left; position: absolute; top: 1.5em; left: -999em; z-index: 99999; }

.main-navigation ul ul ul { left: -999em; top: 0; }

.main-navigation ul ul a { width: 200px; }

.main-navigation ul li:hover > ul, .main-navigation ul li.focus > ul { left: auto; }

.main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul { left: 100%; }

/* Small menu. */
.menu-toggle, .main-navigation.toggled ul { display: block; }

@media screen and (min-width: 37.5em) { .menu-toggle { display: none; }
  .main-navigation ul { display: block; } }
.site-main .comment-navigation, .site-main .posts-navigation, .site-main .post-navigation { margin: 0 0 1.5em; overflow: hidden; }

.comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous { float: left; width: 50%; }

.comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next { float: right; text-align: right; width: 50%; }

/*---------------------------------Navigation--------------------------------------------------------------*/
ul.social-icons { padding: 0; margin: 0; }

ul.social-icons > li { display: inline-block; list-style: none; margin: .5em 1em; font-size: 2em; }

/*---------------------DEFAULT DISPLAY OF MAIN MENU | CANNOT GO MOBILE FIRST BECAUSE OF IE8 -------------------------*/
/*--------------------------------------------------------------MAIN MENU REGION -------------------------------------------------------*/
/*--- hides the responsive menu ---*/
.menu-toggle { display: none; }

.main-navigation ul { display: block; }

/*--- MAIN & FIRST LEVEL CONTROLS ---*/
.main-navigation { clear: both; display: block; float: none; width: 100%; /*height:2em; */ /*background-color:$turquoiseColor;*/ background: #5B3B8C; margin-top: 0; border-bottom: solid #5B3B8C 1px; border-top: solid #5B3B8C 1px; }

.main-navigation ul { list-style: none; text-align: center; /*text-align determines menu position */ margin: 0; padding-left: 0; padding-top: 0; margin-bottom: -.25em; }

.main-navigation li { position: relative; margin-right: 2.5em; font-size: 1em; display: inline-block; float: none; /* need to neutralize float explicitly */ padding: 0 1.5em; background: transparent; color: #ffffff; /*-webkit-border-radius: 10px 10px 0 0;border-radius: 10px 10px 0 0;*/ /*border:solid 1px $blackColor;border-bottom:none;*/ }

.main-navigation li:last-child { position: relative; margin-right: 0; font-size: 1em; margin-bottom: .25em; display: inline-block; padding: .5em; }

.main-navigation li:hover { background: transparent; text-decoration: underline; color: #F1C586 !important; }

.main-navigation li:hover a { color: #F1C586 !important; text-decoration: underline; }

.main-navigation a { display: block; text-decoration: none; font-weight: bold; color: #ffffff; text-transform: uppercase; font-size: 1em; font-weight: normal; /*letter-spacing:.05em; */ }

.main-navigation a:hover { color: #F1C586; }

.main-navigation li.current-menu-item a, .main-navigation li.current_page_item a { color: #F1C586; }

.main-navigation li.current_page_item { color: #F1C586; }

.main-navigation .current-menu-item { color: #F1C586; }

.main-navigation ul li.current-menu-item a, .main-navigation ul li.current_page_item a, .main-navigation ul li.current-menu-item, .main-navigation ul li.current_page_item { background: transparent; color: #F1C586; text-decoration: none; }

/*--- SECOND LEVEL CONTROLS ---*/
.main-navigation ul ul li:last-child { position: relative; margin-right: 0; font-size: 1em; margin-bottom: .25em; display: inline-block; padding: .5em 1em; }

.main-navigation ul ul { margin-left: 0; display: block; float: left; position: absolute; top: 2em; left: 0; z-index: 99999; text-align: left; visibility: collapse; opacity: .001; transition: all .5s ease-in-out 0s; background: #e6eaed; }

.main-navigation ul ul li { background: transparent; -webkit-border-radius: 0; border-radius: 0; padding-bottom: .5em; }

.main-navigation ul ul li:last-child { position: relative; margin-left: 1em; font-size: 1em; margin-bottom: .25em; display: inline-block; padding: 0 .5em; }

.main-navigation ul ul li a { color: #5B3B8C !important; text-decoration: none; }

.main-navigation ul ul li a:hover, .main-navigation ul ul li:hover { text-decoration: underline; background: transparent none repeat scroll 0% 0%; color: #5B3B8C !important; }

.main-navigation li.current-menu-item a li, .main-navigation li.current_page_item a li { background: #190a16; color: #5B3B8C; font-weight: bold; }

.main-navigation ul ul li.current-menu-item a, .main-navigation ul ul li.current_page_item a, .main-navigation ul ul li.current-menu-item, .main-navigation ul ul li.current_page_item { background: transparent none repeat scroll 0% 0%; color: #5B3B8C !important; font-weight: bold; }

.main-navigation li.current-menu-item li a, .main-navigation li.current_page_item li a { background: transparent; }

.main-navigation ul ul ul { left: 100%; top: 0; }

.main-navigation ul ul a { width: 300px; }

.main-navigation ul li:hover > ul { display: block; opacity: 1; visibility: visible; transition: all 0.25s ease 0s; width: 350px; overflow: hidden; left: 0; color: #5B3B8C !important; }

.main-navigation ul li:last-child:hover > ul { display: block; opacity: 1; visibility: visible; transition: all 0.25s ease 0s; width: 300px; overflow: visible; left: -120px; text-align: right; padding-right: 1.5em; }

/*--- controls the dropdown colors ---*/
.main-navigation ul li:hover > ul a { color: #5B3B8C !important; }

.main-navigation ul li:hover > ul a:hover { text-decoration: underline; }

.main-navigation ul li:hover > ul li { background-color: transparent; text-decoration: none; }

.main-navigation ul li:hover > ul li a { text-decoration: none; }

.main-navigation ul li.current-menu-item ul li a { background: transparent; color: #5B3B8C; }

.main-navigation ul ul li.current_page_item { background: transparent; color: #5B3B8C; }

/*------------------------------MAIN MENU -----------------*/
@media screen and (max-width: 1100px) { .main-navigation li, .main-navigation li:last-child { padding: 0 .5em; }
  .masthead-nav-links { float: left !important; }
  .main-navigation ul { list-style: none; padding-left: 0; margin: 0; padding-left: 0; padding-top: 0; margin-bottom: 0; }
  .main-navigation li { position: relative; margin-right: .25em; font-size: 1em; display: inline-block; float: none; /*padding: 1.5em .5em;*/ background: transparent; color: #ffffff; -webkit-border-radius: 0; border-radius: 10px 10px 0 0; border: none 0 transparent; border-bottom: none; }
  .main-navigation ul ul li:last-child { position: relative; margin-left: 0; font-size: 1em; margin-bottom: .25em; display: inline-block; padding: 0 .5em; } }
@media screen and (max-width: 960px) { .main-navigation li, .main-navigation li:last-child { font-size: .85em; }
  .main-navigation ul ul li:last-child { position: relative; margin-left: 0; font-size: .9em; margin-bottom: .25em; display: inline-block; padding: 0 .5em; } }
@media screen and (max-width: 825px) { .single-team_type .site-main { margin: 0; background-color: #ffffff; padding: 1em; min-height: 600px; border: 1px solid #c3cbe0; width: 100%; }
  li.team-member-array { float: left; width: 46%; margin: 0 2%; list-style: none; text-align: center; }
  .full-content-area { float: none; margin: 0 auto; width: 100%; max-width: 1100px; background-color: #ffffff; padding: 1em 2em; margin-top: 0px; }
  #masthead { width: 100%; margin: 0 auto; top: 0; background: #ffffff; filter: none !important; border-bottom: none; position: relative; z-index: 9999; }
  .outer-locations-container { margin-top: 0; }
  .outer-slider-container { clear: both; background-color: #676b74; margin-top: 0; }
  /*-------------- OVERKILL ENSURING LINK COLORS ----------*/
  .main-navigation li:hover > a, .main-navigation li.focus > a { color: #5B3B8C; }
  .main-navigation ul ul:hover > a, .main-navigation ul ul .focus > a { color: #5B3B8C; }
  .main-navigation ul ul a:hover, .main-navigation ul ul a.focus { color: #5B3B8C; }
  .main-navigation ul li:hover > ul, .main-navigation ul li.focus > ul { left: auto; }
  .main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul { left: 100%; color: #5B3B8C; }
  .main-navigation .current_page_item > a, .main-navigation .current-menu-item > a, .main-navigation .current_page_ancestor > a, .main-navigation .current-menu-ancestor > a { color: #5B3B8C; }
  /*------FIRST LEVEL NAV ------*/
  .masthead-nav-links { float: left; width: 100%; }
  .main-navigation { /*border-bottom:none; background-color:transparent;*/ background-color: #5B3B8C; height: 3em; }
  .main-navigation ul li.current-menu-item a, .main-navigation ul li.current_page_item a, .main-navigation ul li.current-menu-item, .main-navigation ul li.current_page_item { background: transparent; color: #5B3B8C; text-decoration: none; }
  .main-navigation li.current_page_item a { background: transparent none repeat scroll 0% 0%; color: #5B3B8C !important; font-weight: bold; }
  .main-navigation li.current_page_item a ul a { background: transparent none repeat scroll 0% 0%; color: red !important; font-weight: bold; }
  .main-navigation ul li.current-menu-item > ul li a { font-weight: normal !important; }
  .main-navigation { clear: both; display: table; width: 100%; /*background-color: #ffffff; position:absolute;*/ }
  .main-navigation ul { display: none; list-style: none; margin: 0; padding-left: 0; margin-bottom: -.25em; text-align: left; background: #ffffff; text-align: left; border: solid 1px; width: 60%; }
  .main-navigation ul ul { width: 100%; }
  .main-navigation li { display: table; background: transparent; padding: 0 0 0 .5em; }
  .main-navigation li, .main-navigation li:last-child { font-size: 1em; }
  .main-navigation li:hover a { color: #5B3B8C !important; text-decoration: underline; }
  .main-navigation ul ul a { width: auto; }
  .main-navigation li a:hover { text-decoration: underline; color: #5B3B8C !important; }
  .main-navigation ul ul li { display: table; background: #ffffff; }
  .main-navigation ul ul li a { color: #5B3B8C; }
  .main-navigation li:last-child, .home .main-navigation li:last-child { position: relative; margin-right: 0; margin-left: 0; margin-bottom: .25em; display: table; /* padding: .5em 1em;  */ width: 100%; padding: 0 0 0 .5em; }
  .main-navigation ul ul li:last-child, .home .main-navigation ul ul li:last-child { margin-left: 0; }
  .main-navigation a { display: block; text-decoration: none; color: #5B3B8C; }
  /*------SECOND LEVEL NAV ------*/
  .main-navigation ul ul { background: #ffffff; display: block; float: left; left: 0; margin-left: .25em; margin-top: 0; opacity: 1; position: static; text-align: left; top: 0; transition: all 0.5s ease-in-out 0s; visibility: visible; z-index: 999999; border: none; padding-bottom: 1em; }
  .main-navigation ul ul li a, .main-navigation ul ul li a, .main-navigation ul ul li, .main-navigation ul ul li { background: #ffffff none repeat scroll 0% 0%; color: #190a16; }
  .main-navigation ul ul li a { background: #ffffff none repeat scroll 0% 0%; color: #5B3B8C; }
  .main-navigation ul ul li:last-child { position: relative; margin-left: 0; font-size: 1em; margin-bottom: .25em; display: inline-block; padding: .5em; width: auto; }
  .main-navigation ul li:hover > ul a, .main-navigation ul li:hover > ul li, .home .main-navigation ul li:hover > ul a, .home .main-navigation ul li:hover > ul li { color: #5B3B8C !important; width: 100%; background: #ffffff; }
  .main-navigation ul li:last-child:hover > ul, .main-navigation ul li:hover > ul { display: block; left: 0; opacity: 1; overflow: hidden; transition: none; visibility: visible; width: 100%; }
  .main-navigation ul ul li, .main-navigation ul ul li:hover, .home .main-navigation ul ul li, .home .main-navigation ul ul li:hover { background: #ffffff; color: #5B3B8C; }
  .main-navigation ul ul li a { color: #5B3B8C; }
  .main-navigation, .flexbox .main-navigation { clear: both; display: block; width: 100%; }
  /* Small menu. */
  .menu-toggle, .main-navigation.toggled ul { display: block; background: #ffffff; position: relative; z-index: 999; margin-top: 1em; }
  button.menu-toggle, input.menu-toggle[type="button"] { border: none; border-radius: 0px; background: transparent; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0), inset 0 15px 17px rgba(255, 255, 255, 0), inset 0 -5px 12px transparent; color: #ffffff; font-size: 1.5em; line-height: 1; padding: 0; text-shadow: 0 1px 0 rgba(255, 255, 255, 0); }
  /*--- PUSHING THE MENU TO THE RIGHT AND MAKING SURE THE OPENED MENU IS BELOW THE ICON-----*/
  button.menu-toggle, input.menu-toggle[type="button"] { float: none; margin-top: -1em; font-size: 2.25em; width: 100%; }
  .togglemenutext { font-size: .5em; font-weight: normal; font-family: "Foundry Sans", "Frutiger", "Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif; margin-left: -4em; }
  /*--- CENTERS THE MENU ON ACTIVATION ----*/
  .main-navigation ul { margin: 1em 0 0 20%; }
  #primary-menu { top: 0; }
  .page-template-page-researchsolutions #secondary { padding: 0; border: 0px none transparent; margin-top: 3em; background: transparent; } }
@media screen and (max-width: 700px) { .main-navigation ul { width: 75%; margin: 0 10%; } }
/*--- letting the activated menu go to full width at small sizes - LEFT JUSTIFIED ICON ---*/
@media screen and (max-width: 700px) { .main-navigation ul { width: 75%; margin-top: 1em !important; }
  .main-navigation ul li ul li, .main-navigation ul li ul li a, .main-navigation ul li ul:hover { background: transparent; }
  .main-navigation li:last-child { width: 200px; }
  .main-navigation ul li:last-child:hover > ul, .main-navigation ul li:hover > ul { display: block; left: 0; opacity: 1; overflow: hidden; transition: none; visibility: visible; width: auto; }
  .main-navigation ul li ul { margin: 0; } }
@media screen and (max-width: 600px) { .top-logo-side, .top-contact-side { float: left; width: 100%; }
  .top-logo-side img { width: 50%; height: auto; }
  .top-contact-side .social { float: left; text-align: left; width: 100%; }
  .top-phone { text-align: left; }
  .top-search { float: left; }
  ul.top-social-icons { float: left; }
  .headerlink { float: left; width: 100%; margin-left: 2em; }
  .top-contact-side .social .headerlink h3 { display: block; padding: .5em 0; float: left; margin: 1em 0; }
  .entry-content ul, .entry-content ol { margin: 0 0 2em -1em !important; } }
@media screen and (max-width: 500px) { button.menu-toggle, input.menu-toggle[type="button"] { margin-top: -.1em; } }
@media screen and (max-width: 375px) { .main-navigation ul li ul a { width: 250px; } }
/* ------------------------------------ THE ODD BITS SECTION -------------------------------------------------*/
/*--- association list --*/
ul.association-list { margin: 0; padding: 0; }

.association-list li { float: left; list-style: none; margin-right: 2em; }

@media screen and (max-width: 1100px) { .association-list li { float: left; list-style: none; margin-right: 1em; width: calc(33% - 1em); }
  .association-list li img { max-width: 70%; } }
@media screen and (max-width: 600px) { .association-list li img { max-width: 60%; } }
@media screen and (max-width: 400px) { .association-list li { float: left; list-style: none; margin-right: 1em; width: calc(100% - 1em); } }
/*--- CASE STUDY RELATED STYLES ----*/
.casestudy-example h1 { padding-bottom: 0.75em !important; padding-top: .5em; clear: both; font-size: 1.75em; }

.casestudy-example h2 { display: inline; padding: 0 1em 0 0; font-weight: bold; font-size: 1.2em; }

.casestudy-example h3 { font-size: 1.2em; color: #282828; line-height: 1.1em; margin: 0 0 .5em 0; font-family: "Foundry Sans", "Frutiger", "Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif; letter-spacing: .05em; font-weight: bold; border-bottom: solid 2px #765DA0; margin-bottom: 1em; }

.industry-array { clear: both; }

.industry-array h1 a { margin: 0 0 .25em 0; }

.industry-array .archive-excerpt h1 { margin: 0 0 .25em 0; font-weight: bold; }

.industry-array .archive-excerpt h3 { font-weight: bold; display: inline; font-size: 1em; }

.tax-industry .hentry { margin: 0; }

/*--- LOCATIONS SLIDER RELATED ---*/
.outer-locations-container { clear: both; background-color: #353535; margin-top: 160px; }

.locations-container { width: 100%; max-width: 1100px; margin: 0 auto; padding-bottom: .5em; }

.entry-content .flexslider { margin: 0em 0px 3em; background: transparent; border: none; position: relative; border-radius: 4px; }

.locations-caption h2 { color: #ffffff; font-family: "Foundry Sans", "Frutiger", "Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif; font-size: 1.25em; font-weight: normal; margin: 0; padding: .5em; }

.locations-caption { background: #353535; text-align: center; }

.page-template-page-locations .full-content-area { margin-top: 0; padding-top: 0; }

.industry-array hr { background-color: #ccc; border: 0; height: 3px; margin-bottom: 1.5em; }

/*---------------------SPECIAL CONTENT REGIONS --------------------------------------------------------------*/
/*---- ARCHIVE ARRAYS ---*/
.archive-thumb { float: left; width: 20%; margin-top: 0; }

.archive-thumb img { width: 100%; height: auto; margin-top: .25em; }

.archive-excerpt { float: right; width: 77%; margin-top: .0; }

.archive-excerpt p { margin: 0; }

.entry-meta { color: #bfbfbf; line-height: .95em; margin: -.25em 0 .25em 0; font-size: .75em; }

.full-width-excerpt p { margin: 0; }

.achive-link { display: inline; }

/*--- FLEXSLIDER RELATED ---*/
.flex-direction-nav a { opacity: 1; color: #5B3B8C !important; }

.flex-direction-nav a::before { color: #5B3B8C !important; font-size: 2em; }

.outer-slider-container { clear: both; background-color: transparent; margin-top: 130px; border-bottom: solid 2px #5B3B8C; }

.slider-container { width: 100%; max-width: 1100px; margin: 0 auto; padding-bottom: 0; }

.entry-content .flexslider { margin: 0em 0px 3em; background: transparent; border: none; position: relative; border-radius: 4px; }

.flex-caption { width: 40%; /* left: 45%;  */ bottom: 0; font-size: 1em; line-height: 1.5em; position: absolute; top: 65%; right: 3em; /*background-color: rgba(0, 0, 0, 0.15);*/ text-align: left; font-size: 1.1em; }

.flex-inner-caption { padding: .5em 1em; color: #ffffff; background-color: #A495C3; -webkit-border-radius: 10px; border-radius: 10px; border: none; }

.flex-inner-caption p { margin-bottom: .5em; margin-top: 0; text-align: justify; line-height: 1.35em; font-size: 1.25em; }

.flex-inner-caption a { color: #ffffff; }

.flex-caption h2 { color: #ffffff; font-family: "Foundry Sans", "Frutiger", "Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif; font-size: 2.5em; font-weight: normal; }

.flex-caption h3 { color: #ffffff; font-family: "Foundry Sans", "Frutiger", "Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif; display: inline; float: left; margin-left: 5%; /* padding:1em; -webkit-box-shadow:inset 2px 2px 2px 2px rgba(0,0,0,.5); box-shadow:inset 2px 2px 2px 2px rgba(0,0,0,.5); */ }

.flex-caption h3:hover { background-color: #765DA0; }

.flex-caption h3 a { color: #ffffff; }

.flexslider a { text-decoration: none; }

@media screen and (max-width: 960px) { .flex-caption {                /*width: 100%;padding: 2% 10%;  left: 0;bottom: 0; color: $whiteColor;font-size: 1em;line-height: 1.5em; position: static; top:0em; 
	background-color: $darkGreyColor;  text-align: left;  font-size: 1em; padding-bottom:3.5em;*/ visibility: collapse; }
  .slider-container { width: 100%; max-width: 1100px; margin: 0 auto; padding-bottom: 0; } }
/*--- SEARCH RELATED--*/
.search-array li { float: left; width: 23%; list-style: none; margin: 0 1%; min-height: 250px; text-align: center; }

.search-array li h2 { font-size: 1em; }

/*------------------------------ RESPONSIVE STYLING BY SECTION---------------------*/
@media screen and (max-width: 400px) { .flex-caption h2 { font-size: 1.5em; }
  .top-search { clear: both; padding: 1em 0; }
  /*.headerlink {visibility:collapse; font-size:0; height:0;background-color:transparent;}*/
  .phone-number { float: left; width: 100%; clear: both; }
  .top-logo-side img { width: 70%; height: auto; }
  .top-contact-side .social .headerlink h3 { display: block; padding: .5em 0; float: left; margin: 0 0 1em 0; font-size: .75em; }
  .top-search { clear: both; padding: 0 0 .5em 0; } }
@media screen and (max-width: 600px) { .gallery-columns-4 .gallery-item { max-width: 49%; margin-right: 1%; }
  .front-project-array li { float: left; width: calc(50% - 1em); text-align: center; margin: 0 .5em; }
  body { overflow-x: hidden; } }
@media screen and (max-width: 450px) { .gallery-columns-4 .gallery-item { max-width: 98%; margin: 0 1%; }
  .front-project-array li { float: left; width: calc(100% - 1em); text-align: center; margin: 0 .5em; } }
@media screen and (max-width: 560px) { .archive-thumb { float: left; width: 100%; margin-top: .25em; text-align: center; }
  .archive-thumb img { width: 60%; height: auto; }
  .archive-excerpt { float: left; width: 100%; margin-top: .25em; }
  .archive-excerpt h1 { text-align: center; }
  .outer-slider-container { margin-top: 110px; } }
/*----------------------------- THE FOOTER SECTION ---------------------*/
.centering-foot { clear: both; text-align: center; }

.centering-foot .footer-contact { font-size: 1.4em; text-transform: uppercase; margin-bottom: .5em; }

.centering-foot .footer-copyright { font-size: .8em; text-align: center; width: 100%; padding-top: 1em; padding-bottom: 2em; }

.centering-foot .social { margin-top: -.75em; }

.foot-social-icons li { display: inline; padding: 0 .5em; font-size: 1.5em; }

.footer-menu a { color: #5B3B8C; }

.footer-menu li { display: inline; margin: 0; text-transform: uppercase; }

.footer-menu li:after { content: "|"; color: #ffffff; padding: 0 .5em; }

.footer-menu li:last-of-type:after { content: ""; color: #ffffff; padding: 0; }

.footer-menu ul { margin: .5em 0; padding: 0; }

.special-footer-message { text-align: left; padding: 0 1em; }

.special-footer-message h3 { font-size: 1.5em !important; font-weight: normal !important; margin-bottom: 1em !important; padding-top: .5em; }

.site-footer { clear: both; width: 100%; background: #ffffff; color: #5B3B8C; /*position:fixed; */ bottom: 0; z-index: 999; border-top: none; border-top: solid #5B3B8C 1px; border-bottom: solid #5B3B8C 1px; }

.site-info { text-align: left; font-size: .75em; }

.site-info a:hover { text-decoration: underline; }

.site-info { width: 90%; max-width: 1100px; margin: 0em auto; padding: 2em 0; text-align: left; }

.footer-copyright { float: left; width: 20%; }

.footer-copyright h1 a { color: #282828; }

.footer-copyright h1 { display: inline; vertical-align: 75%; margin-left: .5em; }

.left-foot { float: left; width: 49%; font-size: 1.25em; text-transform: uppercase; letter-spacing: .05em; }

.logo-left-foot { float: left; width: 100px; }

.left-foot-contact { float: right; width: calc(100% - 110px); }

.right-foot { float: right; width: 49%; text-align: right; font-size: 1.1em; text-transform: uppercase; letter-spacing: .05em; }

ul.foot-social-icons { padding: 1em 0 0 0; margin: 0; /*float: right; */ margin-top: 0; clear: both; }

ul.foot-social-icons a { color: #5B3B8C; }

ul.foot-social-icons a:hover { color: #282828; }

.right-foot .foot-social-icons li { list-style: none; float: left; margin-right: .5em; font-size: 1.5em; }

.right-foot .social { float: right; text-align: right; width: 100%; }

.right-foot .social a { color: #5B3B8C; }

.right-foot .social a:hover { color: #282828; }

.right-foot .icon-text, .left-foot .icon-text { font-size: .75em; /*-- could define break from header --*/ filter: none !important; /*--- this is an IE8 workaround ---*/ }

ul.second-foot-social-icons { padding: 0 0 .5em 0; margin: 0; float: right; clear: both; }

.top-contact-side .second-foot-social-icons li { list-style: none; float: left; margin-right: .5em; font-size: 1.25em; }

.footer-focus-link { background-color: #5B3B8C; padding: .5em; display: inline-block; -webkit-border-radius: 5px; border-radius: 5px; }

.footer-focus-link a { color: #ffffff; }

/*-------------FOOTER REGIONS --------------*/
@media screen and (max-width: 1200px) { .site-info { width: 100%; max-width: 1100px; margin: 0em auto; padding: 1em 0; } }
@media screen and (max-width: 1100px) { .site-info .footer-copyright { float: left; width: 100%; text-align: center; }
  .site-info .footer-copyright img { width: 40%; height: auto; margin: 0 auto; }
  .site-info { width: 100%; max-width: 1000px; margin: 0em auto; padding: 1em 0; } }
@media screen and (max-width: 1000px) { .site-info { width: 95%; max-width: 900px; margin: 0em auto; padding: 1em 0; } }
@media screen and (max-width: 799px) { .left-foot { float: left; width: 100%; font-size: 1.25em; text-transform: uppercase; letter-spacing: .05em; }
  .right-foot { float: left; width: calc(100% - 110px;); margin-left: 110px; text-align: left; font-size: 1.1em; text-transform: uppercase; letter-spacing: .05em; }
  ul.foot-social-icons { padding: .5em 0 0 0; margin: 0; /*float: left;*/ margin-top: 0; clear: both; } }
@media screen and (max-width: 550px) { .site-info .footer-copyright h1 { font-size: 1.5em; } }
@media screen and (max-width: 450px) { .site-info .footer-copyright h1 { font-size: 1.5em; display: block; margin: 0; }
  .site-branding { text-align: left; }
  .main-navigation ul { width: 100%; margin: 0; } }
/*--------------------------------THE HEADER SECTION ---------------------------------------------------------*/
h1.site-title { margin: 1em 0 0 0; padding-top: .35em; font-size: 1.75em; }

.home h1.site-title { margin: 1em 0 0 0; }

h1.site-title a { color: #5B3B8C; font-family: "Foundry Sans", "Frutiger", "Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif; letter-spacing: .01em; word-spacing: .1em; font-weight: 800; }

h2.masthead-info { color: #353535; font-weight: normal; letter-spacing: .15em; padding-left: .25em; }

#masthead { width: 100%; margin: 0 auto; top: 0; background: #ffffff; filter: none !important; border-bottom: none; position: fixed; z-index: 9999; }

.masthead-logo { float: left; width: 20%; text-align: left; }

.masthead-nav { float: right; width: 100%; margin-top: 0; background-color: #ffffff; }

.header-container { width: 100%; max-width: 1100px; margin: 0 auto; }

.masthead-nav-logo { float: left; width: 240px; text-align: left; padding: .25em 0; }

.masthead-nav-links { float: right; width: calc(100% - 275px); }

.top-masthead-holder { width: 100%; top: 0; background-color: transparent; text-align: left; border-bottom: none; min-height: 3em; position: relative; }

.top-logo-side { float: left; width: 250px; }

.top-logo-side h1 a { color: #5B3B8C; }

.top-logo-side h1 { display: inline; /* vertical-align: 75%; */ margin-left: 0; }

.top-contact-side { width: calc(100% - 250px); color: #5B3B8C; top: 0; right: 0; max-width: 1100px; margin: 0 auto; float: left; }

ul.top-social-icons { padding: .5em 0 0 0; margin: 0; float: right; margin-top: 0; clear: both; }

ul.second-top-social-icons { padding: 0 0 .5em 0; margin: 0; float: right; clear: both; }

.top-contact-side .top-social-icons li { list-style: none; float: left; margin-right: .5em; font-size: 1.5em; }

.top-contact-side .second-top-social-icons li { list-style: none; float: left; margin-right: .5em; font-size: 1.25em; }

.top-contact-side .social { float: right; text-align: right; width: 100%; }

.top-contact-side .social a { color: #5B3B8C; }

.top-contact-side .social a:hover { color: #F1C586; }

.top-contact-side .icon-text { font-size: .75em; /*-- could define break from header --*/ filter: none !important; /*--- this is an IE8 workaround ---*/ }

.top-phone { text-align: right; margin-top: 1em; margin-bottom: -.75em; }

.headerlink { float: right; }

.top-contact-side .social .headerlink h3 { color: #5B3B8C; font-family: "Foundry Sans", "Frutiger", "Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif; border: none; background-color: #c3cbe0; display: inline; padding: .5em 0; float: right; margin: 0.25em 0; width: 150px; text-align: center; font-size: 1em; }

.top-contact-side .social .headerlink h3 a { color: #6799C8; }

.top-search { clear: both; padding: 1em 0 0 0; }

.top-search input[type="search"] { text-align: center; width: 150px; }

.masthead-holder { width: 100%; margin: 0 auto; top: 0; text-align: center; border-bottom: none; filter: none !important; }

.masthead-holder { padding: 0; }

.masthead-holder { padding: 0; }

.company-slogan { width: 100%; max-width: 1100px; text-align: left; margin: 0 auto; clear: both; padding: 1em 0; }

.site-branding { width: 100%; max-width: 1200px; margin: 1em auto 0  auto; padding: 0; position: relative; min-height: 75px; }

.site-branding img { padding-top: 0; width: 100%; height: auto; }

/*------------------------------ HEADER ---------------------------*/
@media screen and (max-width: 799px) { h1.page-entry-title { margin: 0; color: #ffffff; font-weight: bold; padding: 1em 0; font-size: 3em; position: relative; top: -200px; margin-bottom: -100px; }
  .top-logo-side { float: left; width: 200px; }
  .top-contact-side { width: calc(100% - 200px); color: #5B3B8C; top: 0; right: 0; max-width: 1100px; margin: 0 auto; float: left; }
  h1.site-title { margin: .6em 0 0 0; padding-top: .1em; font-size: 2em; }
  .home h1.site-title { margin: .6em 0 0 0; } }
@media screen and (max-width: 699px) { h1.site-title { margin: 1em 0 0 0; padding-top: .25em; font-size: 1.75em; }
  h2.masthead-info { color: #353535; font-weight: normal; letter-spacing: .15em; padding-left: .25em; font-size: 1em; } }
@media screen and (max-width: 599px) { .top-logo-side { float: left; width: 115px; }
  .top-contact-side { width: calc(100% - 115px); color: #5B3B8C; top: 0; right: 0; max-width: 1100px; margin: 0 auto; float: left; }
  h1.site-title { margin: .2em 0 0 0; padding-top: .1em; font-size: 1.5em; }
  .home h1.site-title { margin: .25em 0 0 0; } }
@media screen and (max-width: 499px) { .top-logo-side { float: left; width: 100px; }
  .top-contact-side { width: calc(100% - 100px); color: #5B3B8C; top: 0; right: 0; max-width: 1100px; margin: 0 auto; float: left; }
  h1.site-title { margin: .25em 0 0 0; padding-top: .1em; font-size: 1em; }
  .home h1.site-title { margin: .25em 0 0 0; }
  h2.masthead-info { color: #353535; font-weight: normal; letter-spacing: .15em; padding-left: .25em; font-size: .75em; } }
@media screen and (max-width: 399px) { h1.page-entry-title { margin: 0; color: #ffffff; font-weight: bold; padding: 1em 0; font-size: 2em; position: relative; top: -100px; margin-bottom: -60px; }
  .top-logo-side { float: left; width: 100px; }
  .top-contact-side { width: calc(100% - 100px); color: #5B3B8C; top: 0; right: 0; max-width: 1100px; margin: 0 auto; float: left; }
  h1.site-title { margin: -.2em 0 0 .25em; padding-top: .1em; }
  .home h1.site-title { margin: -.2em 0 0 .25em; }
  h1.site-title a { font-weight: 400; } }
@media screen and (max-width: 299px) { h1.page-entry-title { visibility: collapse; top: 0; padding: 0; } }
@media screen and (max-width: 1200px) { .site-branding { width: 100%; max-width: 1100px; margin: 0em auto; padding: 1em 0; } }
@media screen and (max-width: 1100px) { .site-branding { width: 100%; max-width: 1000px; margin: 0em auto; padding: 1em 0; }
  .masthead-nav { float: right; width: 100%; margin-top: 0; }
  .top-masthead-holder .top-logo-side { float: left; width: 100%; text-align: left; }
  .top-masthead-holder .top-logo-side img { width: 40%; height: auto; margin: 0 auto; }
  .top-masthead-holder .top-contact-side { float: left; width: 100%; margin-top: 1.1em; }
  .top-masthead-holder ul.top-social-icons { padding: 0; margin: 0; float: left; margin-top: 0; }
  ul.second-top-social-icons { padding: 0; margin: 0; float: left !important; clear: both; }
  .top-masthead-holder .top-contact-side { float: left; width: 100%; margin-top: 0; } }
@media screen and (max-width: 1000px) { .site-branding { width: 95%; max-width: 900px; margin: 0em auto; padding: 1em 0; } }
@media screen and (max-width: 1000px) { .masthead-nav-logo { float: left; width: 100%; text-align: left; padding: .25em 0; }
  .masthead-nav-links { float: right; width: 100%; } }
@media screen and (max-width: 550px) { .top-masthead-holder .top-contact-side { float: left; width: calc(100% - 5em); margin-top: 0; }
  .top-masthead-holder ul.top-social-icons { padding: 0; margin: 0; float: left; margin-top: 0; visibility: collapse; } }
/*--------------------------------- THE MAIN CONTENT SECTION -------------------*/
/*--- split columns -------*/
.left-side { float: left; width: 48%; }

.right-side { float: right; width: 48%; }

@media screen and (max-width: 600px) { .left-side { float: left; width: 80%; margin: 0 10%; }
  .right-side { float: left; width: 80%; margin: 0 10%; } }
/*-------------------------------STANDARD MAIN CONTENT REGION --------------------------------------------------*/
#page { /*padding-bottom:8em;*/ }

/*-- makes room for footer in scroll --*/
#content { width: 100%; max-width: 1100px; margin: 0em auto; padding: 0 1em; color: #282828; min-height: 350px; }

.content-area { float: left; margin: 160px -25% 0 0; width: 100%; }

.site-main { margin: 0; background-color: #ffffff; padding: 1em 3.5em; min-height: 600px; border: 1px solid #c3cbe0; float: left; width: 65%; }

.site-content .widget-area { float: right; overflow: hidden; width: 25%; }

#content { width: 100%; max-width: 1100px; margin: 0 auto; padding: 0 1em; }

.site-branding .houzz img { float: right; text-align: center; padding-right: 2.5em; padding-top: 0; }

#content { min-height: 65vh; margin: 0 auto 2em auto; }

.entry-content li { margin-bottom: .5em; color: #282828; font-size: 1em; font-weight: normal; line-height: 1.35em; }

.entry-content .orange li { margin-bottom: .5em; color: #F1C586; font-size: 1.1em; font-weight: bold; }

.entry-content .highlighted li { margin-bottom: .5em; color: #5B3B8C; font-size: 1em; font-weight: bold; list-style: none; }

.entry-content .highlighted li:before { /* For a round bullet */ content: '\2022'; /* For a square bullet */ /*content:'\25A0';*/ display: block; position: relative; max-width: 0px; max-height: 0px; left: -27px; top: -0px; color: #A8D7B0; font-size: 15px; }

#content { width: 90%; max-width: 1100px; margin: 0 auto 1em auto; padding: 1em; }

/*---for full width configurations -- eliminated top padding and magins to tighten things up ---*/
.full-content-area { float: none; margin: 0 auto; width: 100%; max-width: 1100px; background-color: #ffffff; padding: 1em 2em; margin-top: 160px; border: 1px solid #c3cbe0; }

.page-template-page-landing .full-content-area { border: none 0px transparent; }

.page-template-page-sections .full-content-area { max-width: 800px; padding: 1em 3em; }

.full-site-main { margin: 0 auto; padding-top: 0; }

.page-template-page-leadership .site-main { margin: 0; background-color: #ffffff; padding: 1em 2.5em; min-height: 600px; border: 1px solid #c3cbe0; float: none; width: 65%; margin: 0 auto; }

/*--------------CONTENT REGIONS ----------------*/
@media screen and (max-width: 1200px) { #content, .company-slogan { width: 100%; max-width: 1100px; margin: 0em auto; padding: 1em 0; } }
@media screen and (max-width: 1100px) { .full-site-main { margin: 0 auto; padding-top: 0; }
  #content, .company-slogan { width: 100%; max-width: 1000px; margin: 0em auto; padding: 1em 0; }
  .full-site-main { margin: 0 auto; padding-top: 0; } }
@media screen and (max-width: 1000px) { #content, .company-slogan { width: 95%; max-width: 900px; margin: 0em auto; padding: 1em 0; } }
@media screen and (max-width: 799px) { .gallery-columns-4 .gallery-item { max-width: 32.33%; margin-right: 1%; }
  .front-project-array li { float: left; width: calc(33.33% - 1em); text-align: center; margin: 0 .5em; }
  #content { margin-top: 0; /*--- compensates for small menu icon ---*/ display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; min-height: none; }
  .content-area, .site-content .widget-area { width: 100%; }
  .content-area { float: right; margin: 0; width: 100%; padding: 0 2em; margin-top: 8em; }
  .site-main { margin: 0; float: left; width: 100%; }
  .site-main .comment-navigation, .site-main .posts-navigation, .site-main .post-navigation { margin: 0 0 1.5em; overflow: hidden; }
  .comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous { float: left; width: 50%; }
  .comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next { float: right; text-align: right; width: 50%; }
  .page-template-page-leadership .site-main { width: 100%; padding: 0 .5em; }
  .page-template-page-leadership .content-area { padding: 0 .5em; }
  .page-template-page-leadership hr { background-color: transparent; } }
/*------------------------------THE SIDEBARS SECTION --------------------------------------------------------------*/
.widget { margin: 0 0 1.5em; }

/* Make sure select elements fit in widgets. */
.widget select { max-width: 100%; }

#secondary { padding: 0; border: 1px solid #c3cbe0; background: #ffffff; }

#secondary img { margin-top: 1em; }

#secondary ul { margin: 0; padding: 0 1em; }

.site-content .widget-area { float: right; overflow: hidden; width: 30%; }

#secondary .widget { margin: 0; background: #ffffff; }

#secondary .textwidget, #secondary .search-form, #secondary .menu { padding: 1em; background: #ffffff; }

.page-template-page-researchsolutions #secondary { padding: 0; border: 0px none transparent; margin-top: 0; background: transparent; }

.page-template-page-researchsolutions #secondary .textwidget, .page-template-page-researchsolutions #secondary .search-form, .page-template-page-researchsolutions #secondary .menu { padding: 2em 1em 1em 1em; background: #ffffff; border: 1px solid #c3cbe0; margin-bottom: 1em; }

.page-template-page-researchsolutions #secondary img { margin: 1em 0; }

.page-template-page-researchsolutions #secondary .textwidget h2 { font-size: 1em; font-weight: bold; font-family: "Foundry Sans", "Frutiger", "Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif; background: transparent; text-align: left; padding: 0 0 1em 0; margin: 0; }

/*---------------SIDEBAR ---------------------------*/
@media screen and (max-width: 799px) { #secondary { margin: 2em auto 2em auto; width: 100%; }
  #secondary li { text-align: left; }
  .widget_nav_menu h2.widget-title { text-align: left; } }
/*----------------------- THE LANDING PAGE SECTION ------------------*/
.page-template-page-landing .full-content-area { background: transparent; margin-top: 0; position: relative; top: -2.5em; z-index: 999; }

/*---------------- LANDING PAGE THREE FOCUS ITEMS ---------------------------------------------*/
ul.three-focus-items { margin: 0; padding: 0; list-style: none; }

ul.three-focus-items > li { float: left; margin: 0 1em; width: calc(33% - 2em); text-align: center; font-size: 1.05em; }

ul.three-focus-items > li a:hover { text-decoration: none; }

.three-focus-items .focus-icon { padding: 0; width: 36%; margin: .5em 32% 0 32%; }

.three-focus-items .focus-icon img { width: 100%; }

.three-focus-items h3 { background-color: #5B3B8C; border: none; margin: .5em 1em; padding: .5em; color: #ffffff; font-size: 1em; -webkit-border-radius: 10px; border-radius: 10px; margin: 0 10%; }

.three-focus-items h3:hover { background-color: #765DA0; }

.three-focus-items h3 a { color: #ffffff; }

.three-focus-items p { margin: .25em 3em; line-height: 1.25em; color: black; font-weight: normal; }

/*----------------- LANDING PAGE SPLIT CONTENT REGIONS ----*/
.front-left-region { float: left; width: 64%; font-size: 1.1em; min-height: 600px; }

.purple-button { background-color: #5B3B8C; border: none; margin: .5em 1.5em; padding: .5em; color: #ffffff; font-size: 1em; -webkit-border-radius: 10px; border-radius: 10px; text-align: center; }

h3.purple-button { font-size: 1.25em; }

.purple-button a { color: #ffffff; }

.purple-button a:hover { color: #ffffff; text-decoration: underline; }

.front-left-region h2 { font-size: 1.2em; margin-bottom: .4em; }

.front-left-content { background-color: #ffffff; font-size: 1.1em; padding: 1em 2em 1em 2em; /*margin-top:1em;*/ border: solid 1px #c3cbe0; min-height: 500px; }

.front-right-region { float: right; width: 32%; margin-top: 3em; }

.front-right-content { background-color: transparent; padding: 1em 2em 1em 2em; /*margin-top:1em;*/ border: solid 1px #c3cbe0; background-color: #ffffff; }

.front-right-content p { font-size: 1em; }

.front-left-title { background: #c3cbe0; margin-top: 2em; text-align: center; font-size: 1.5em; padding: 1em 15% 1em 15%; line-height: 1.25em; }

.front-right-title { background: transparent; margin-top: 2em; text-align: center; font-size: 1.5em; padding: 1em 10% 1em 10%; line-height: 1.25em; border: solid 1px #353535; }

h3.front-sidebar-title { color: #5B3B8C; background-color: #BDBDBE; padding: 1em; margin: 0; }

/*-------------- UNIQUE FRONT PAGE ATTRIBUTES---*/
.front-project-array li { float: left; width: calc(25% - 1em); text-align: center; margin: 0 .5em; }

ul.front-project-array { list-style: none; margin: 0; padding: 0; }

.front-project-array h2 { font-size: 1.25em; min-height: 2em; }

.page-template-page-landing #content { width: 100%; max-width: 1100px; margin: 0em auto; padding: 0 1em; background-color: transparent; color: #282828; min-height: 350px; }

@media screen and (max-width: 800px) { ul.three-focus-items > li { float: left; margin: 0 2em; width: calc(100% - 4em); text-align: center; }
  .three-focus-items .focus-icon { padding: 1.5em; width: 50%; margin: 0 25%; -webkit-border-radius: 50% 50% 505 50%; border-radius: 50% 50% 50% 50%; margin-top: 0em; } }
@media screen and (max-width: 800px) { .front-left-region { float: left; width: 100%; }
  .front-right-region { float: left; width: 100%; } }
@media screen and (max-width: 600px) { ul.three-focus-items > li { float: left; margin: 0; width: 100%; text-align: center; padding-top: 1em; }
  .three-focus-items .focus-icon { padding: 1.25em; width: 50%; margin: 0 25%; -webkit-border-radius: 50% 50% 505 50%; border-radius: 50% 50% 50% 50%; margin-top: 0; } }
@media screen and (max-width: 400px) { .three-focus-items .focus-icon { padding: 1.25em; width: 80%; margin: 0 10%; -webkit-border-radius: 50% 50% 505 50%; border-radius: 50% 50% 50% 50%; margin-top: 0; background-color: transparent !important; }
  .three-focus-items p { margin: .25em; line-height: 1.25em; } }
@media screen and (max-width: 300px) { .three-focus-items .focus-icon { padding: 1em; width: 80%; margin: 0 10%; -webkit-border-radius: 50% 50% 505 50%; border-radius: 50% 50% 50% 50%; margin-top: 0; background-color: transparent !important; }
  .three-focus-items p { margin: .25em; line-height: 1em; }
  .three-focus-items h3 { margin: 0; } }
/*--------------------- ICON PAGE & POST HEADER STYLES ------------------------------------------*/
.icon-title-section { clear: both; }

.icon-content-section { clear: both; padding-top: 1.5em; }

.icon-section-title h1 { line-height: 1.1em; margin: 0; padding: 0 0 1em 0; }

.icon-section-image { padding: 0; float: left; width: 31%; }

.icon-section-image img { width: 90%; height: auto; margin: 0 auto 1em auto; }

.icon-section-title { float: right; width: 66%; }

ul.sections { list-style: none; margin: 0; padding: 0; }

@media screen and (max-width: 500px) { .icon-section-title, .icon-section-image { float: left; width: 100%; clear: both; padding-top: 1em; } }
/*----------------------- THE TEAM & LEADERSHIP SECTION -------------------*/
/*--- TEAM RELATED STYLING---*/
.single-team_type .site-main { margin: 0 28% 0 0; background-color: #ffffff; padding: 1em; min-height: 600px; border: 1px solid #c3cbe0; }

.team-detail { clear: both; padding: 1.5em 0; font-size: .85em; }

.team-detail-thumb { float: left; width: 30%; margin-top: 0; }

.team-detail-thumb img { width: 100%; height: auto; margin: 0; }

.team-detail-excerpt { float: right; width: 68%; margin-top: .0; /*padding-top:4.5em;*/ }

.team-detail-excerpt h2 { line-height: 1em; margin: 0; }

.team-detail-excerpt h3 { line-height: 1em; margin: 0 0 .25em 0; font-size: 1.1em; }

li.team-member-array { float: left; width: 29%; margin: 0 2%; list-style: none; text-align: center; }

.team-member-array h2 { margin: 0; line-height: 1em; font-size: 1.1em; font-weight: bold; }

.team-member-array h3 { margin: 0; line-height: 1em; font-size: 1.05em; font-weight: normal; min-height: 2em; }

.team-member-array p { margin: .5em 0; line-height: 1em; }

.team-member-array img { width: 80%; height: auto; margin: 0 10%; }

.team-member-array .hentry { margin: 0; }

.team-member-array img { object-fit: cover; height: 250px; overflow: hidden; object-position: center; }

.team-member-array img { -webkit-filter: saturate(0); filter: saturate(0); /*border:solid $blackColor 4px;*/ }

.team-member-array img:hover { -webkit-filter: none; filter: none; }

.team-detail-clear { clear: both; padding: .25em 0; }

.team-detail-label { width: 120px; font-weight: bold; float: left; text-align: right; font-size: .75em; }

.team-detail-description { width: calc(100% - 130px); float: right; font-size: .85em; }

/*--- LEADERSHIP PAGE RELATED STYLES---*/
ul.short-bios { margin: 0; padding: 0; }

.short-bios li { list-style: none; }

.short-bio-image { float: left; width: 40%; }

.short-bio-image img, .short-bio-image-right img { -webkit-filter: saturate(0); filter: saturate(0); }

.short-bio-image img:hover, .short-bio-image-right img:hover { -webkit-filter: none; filter: none; }

.short-bio-content { float: right; width: 57%; padding-top: 5em; }

.short-bio-image-right { float: right; width: 40%; }

.short-bio-content-right { float: left; width: 57%; text-align: right; padding-top: 5em; }

.short-bio-content h2, .short-bio-content-right h2 { line-height: 1em; margin: 0; }

.short-bio-content h2 a, .short-bio-content-right h2 a { color: #5B3B8C; }

.short-bio-content h3, .short-bio-content-right h3 { line-height: 1em; margin: 0 0 .5em 0; font-size: 1.1em; }

.short-bio-content p, .short-bio-content-right p { margin: 0; }

.short-bio-blurb { clear: both; padding: 1em 0; }

p.leader-left-link { padding: 1em 0 0 1em; }

p.leader-right-link { padding: 1em 1em 0 0; }

@media screen and (max-width: 650px) { .short-bio-content { float: right; width: 57%; padding-top: 0; }
  .short-bio-content-right { float: left; width: 57%; text-align: right; padding-top: 0; } }
@media screen and (max-width: 450px) { .short-bio-content, .short-bio-content-right, .short-bio-image, .short-bio-image-right { float: left; text-align: left; width: 80%; margin: 0 10%; }
  p.leader-left-link, p.leader-right-link { padding: 1em 0 0 1em; } }
/*--- TEAM ---*/
@media screen and (max-width: 800px) { li.team-member-array { float: left; width: 45%; margin: 0 2%; list-style: none; text-align: center; } }
@media screen and (max-width: 560px) { .single-team_type .site-main { margin: 0; background-color: #ffffff; padding: 1em; min-height: 600px; border: 1px solid #c3cbe0; }
  .team-detail-label { width: 100%; font-weight: bold; float: left; text-align: left; font-size: .75em; }
  .team-detail-description { width: 100%; float: right; font-size: .85em; }
  li.team-member-array { float: left; width: 96%; margin: 0 2%; list-style: none; text-align: center; }
  .team-detail-thumb { float: left; width: 100%; margin-top: 0; }
  .team-detail-thumb img { width: 70%; height: auto; margin: 0 15% 1em 15%; }
  .team-detail-excerpt { float: left; width: 100%; margin-top: .0; } }

/*# sourceMappingURL=style.css.map */
