/*----------------------- THE LANDING PAGE SECTION ------------------*/

.page-template-page-landing .full-content-area{background:transparent;margin-top:0; position: relative; top:-2.5em; z-index: 999;}

/*---------------- LANDING PAGE THREE FOCUS ITEMS ---------------------------------------------*/
ul.three-focus-items{margin:0; padding:0; list-style:none;}
ul.three-focus-items > li{float:left; margin:0 1em; width:calc(33% - 2em); text-align:center;font-size:1.05em}
ul.three-focus-items > li a:hover{text-decoration: none;}
.three-focus-items .focus-icon{padding:0;width:36%; margin:.5em 32% 0 32%;} 
.three-focus-items .focus-icon img{width:100%;}
.three-focus-items .focus-icon img:hover{}
.three-focus-items h3{background-color:$mainPurpleColor; border:none; margin:.5em 1em; padding:.5em; color:$whiteColor; font-size:1em;
-webkit-border-radius: 10px;border-radius: 10px;margin:0 10%;}
.three-focus-items h3:hover{background-color:$mediumPurpleColor; }
.three-focus-items h3 a{color:$whiteColor;}
.three-focus-items p{margin:.25em 3em;line-height:1.25em;color:black; font-weight:normal;}

/*----------------- LANDING PAGE SPLIT CONTENT REGIONS ----*/
.front-left-region{float:left; width:64%;font-size:1.1em; min-height: 600px;}

.purple-button {background-color: $mainPurpleColor; border: none; margin: .5em 1.5em; padding: .5em; color: #ffffff; font-size: 1em; -webkit-border-radius: 10px; border-radius: 10px; text-align:center;}
 h3.purple-button {    font-size: 1.25em;}   
.purple-button a{color:$whiteColor;}
.purple-button a:hover{color:$whiteColor; text-decoration: underline;}

.front-left-region h2{font-size:1.2em;margin-bottom:.4em;}
.front-left-content{background-color:$whiteColor; font-size:1.1em; padding:1em 2em 1em 2em; /*margin-top:1em;*/border:solid 1px $blueHeadlineBackground; min-height: 500px;}
.front-right-region{float:right; width:32%;margin-top:3em;}
.front-right-content{background-color:transparent; padding:1em 2em 1em 2em; /*margin-top:1em;*/border:solid 1px $blueHeadlineBackground;background-color:$whiteColor;}
.front-right-content p{font-size:1em;}

.front-left-title{background:$blueHeadlineBackground;margin-top:2em;text-align:center;font-size:1.5em;padding:1em 15% 1em 15%; line-height:1.25em;}
.front-right-title{background:transparent;margin-top:2em;text-align:center;font-size:1.5em;padding:1em 10% 1em 10%;line-height:1.25em;border:solid 1px $greyAccentColor;}

h3.front-sidebar-title{color:$mainPurpleColor; background-color:$mediumGreyColor; padding:1em;margin:0;}


/*-------------- UNIQUE FRONT PAGE ATTRIBUTES---*/
.front-project-array li {float: left;width: calc(25% - 1em);text-align: center;margin: 0 .5em;}
ul.front-project-array {list-style: none;margin: 0;padding: 0;}
.front-project-array h2{font-size:1.25em; min-height:2em;}
.page-template-page-landing #content {  width: 100%;  max-width: 1100px;  margin: 0em auto;  padding: 0 1em;background-color:transparent;color: $defaultFontColor;min-height: 350px; }

@media screen and (max-width: 1000px) {
}
@media screen and (max-width: 800px) {
ul.three-focus-items > li{float:left; margin:0 2em; width:calc(100% - 4em); text-align:center;}
.three-focus-items .focus-icon{padding:1.5em;width:50%; margin:0 25%;-webkit-border-radius: 50% 50% 505 50%;
border-radius: 50% 50% 50% 50%; margin-top:0em;} 
}
@media screen and (max-width: 800px) {
.front-left-region{float:left; width:100%;}
.front-right-region{float:left; width:100%;}
}

@media screen and (max-width: 600px) {
ul.three-focus-items > li{float:left; margin:0; width:100%; text-align:center; padding-top:1em;}	
.three-focus-items .focus-icon{padding:1.25em;width:50%; margin:0 25%;-webkit-border-radius: 50% 50% 505 50%;
border-radius: 50% 50% 50% 50%; margin-top:0;} 
}
@media screen and (max-width: 400px) {
.three-focus-items .focus-icon{padding:1.25em;width:80%; margin:0 10%;-webkit-border-radius: 50% 50% 505 50%;
border-radius: 50% 50% 50% 50%; margin-top:0;background-color:transparent!important;} 
.three-focus-items p { margin: .25em; line-height: 1.25em;}
}
@media screen and (max-width: 300px) {
.three-focus-items .focus-icon{padding:1em;width:80%; margin:0 10%;-webkit-border-radius: 50% 50% 505 50%;
border-radius: 50% 50% 50% 50%; margin-top:0;background-color:transparent!important;} 
.three-focus-items p { margin: .25em; line-height: 1em;}
.three-focus-items h3{margin:0;}
}