/*--------------------- ICON PAGE & POST HEADER STYLES ------------------------------------------*/
.icon-title-section{clear:both; }
.icon-content-section{clear:both; padding-top:1.5em;}
.icon-section-title h1{line-height:1.1em; margin:0; padding:0 0 1em 0;}
.icon-section-image{padding: 0;;float:left;width:31%;}
.icon-section-image img{width:90%; height:auto;margin:0 auto 1em auto; }
.icon-section-title{float:right; width:66%;}
ul.sections {    list-style: none;    margin: 0;    padding: 0;}

@media screen and (max-width: 500px) {
.icon-section-title, .icon-section-image{float:left; width:100%;clear:both; padding-top:1em;}

}