/*----------------------- THE TEAM & LEADERSHIP SECTION -------------------*/

/*--- TEAM RELATED STYLING---*/
.single-team_type .site-main {    margin: 0 28% 0 0;    background-color: #ffffff;    padding: 1em;    min-height: 600px;    border: 1px solid #c3cbe0;}
.team-detail{clear:both; padding:1.5em 0;font-size:.85em;}
.team-detail-thumb {  float: left;  width: 30%;  margin-top: 0; }
.team-detail-thumb img {  width: 100%;  height: auto;  margin:0 ; }
.team-detail-excerpt {  float: right;  width: 68%;  margin-top: .0; /*padding-top:4.5em;*/}
.team-detail-excerpt h2{line-height: 1em;margin: 0;}
.team-detail-excerpt h3{line-height: 1em;margin: 0 0 .25em 0;font-size: 1.1em;}
.team-detail-excerpt p {   }
li.team-member-array{float:left; width:29%; margin:0 2%;list-style:none; text-align:center;}
.team-member-array h2{margin:0;line-height:1em; font-size:1.1em; font-weight:bold;}
.team-member-array h3{margin:0;line-height:1em; font-size:1.05em; font-weight:normal; min-height:2em;}
.team-member-array p{margin:.5em 0;line-height:1em;}
.team-member-array img {  width: 80%;  height: auto;  margin:0 10%; }
.team-member-array .hentry { margin: 0 ;}
.team-member-array img {object-fit: cover;height: 250px; overflow: hidden; object-position: center;}
.team-member-array img {-webkit-filter: saturate(0);filter: saturate(0);/*border:solid $blackColor 4px;*/}
.team-member-array img:hover{-webkit-filter: none;filter: none;}

.team-detail-clear{clear:both; padding:.25em 0;}
.team-detail-label{width:120px; font-weight: bold; float:left; text-align: right; font-size:.75em;}
.team-detail-description {width: calc(100% - 130px); float:right;font-size:.85em;}

/*--- LEADERSHIP PAGE RELATED STYLES---*/
ul.short-bios{margin:0; padding:0;}
.short-bios li{list-style:none; }
.short-bio-image{float:left; width:40%;}
.short-bio-image img,.short-bio-image-right img {-webkit-filter: saturate(0);filter: saturate(0);}
.short-bio-image img:hover, .short-bio-image-right img:hover{-webkit-filter: none;filter: none;}
.short-bio-content{float:right; width: 57%;padding-top:5em;}
.short-bio-image-right{float:right; width:40%;}
.short-bio-content-right{float:left; width: 57%; text-align:right;padding-top:5em;}
.short-bio-content h2,.short-bio-content-right h2{line-height: 1em;margin: 0;}
.short-bio-content h2 a,.short-bio-content-right h2 a{color:$mainPurpleColor;}
.short-bio-content h3, .short-bio-content-right h3{line-height: 1em;margin: 0 0 .5em 0;font-size: 1.1em;}
.short-bio-content p, .short-bio-content-right p {  margin: 0; }
.short-bio-blurb{clear:both; padding:1em 0;}
p.leader-left-link{padding:1em 0 0 1em;}
p.leader-right-link{padding:1em 1em 0 0;}

@media screen and (max-width: 650px) {
.short-bio-content{float:right; width: 57%;padding-top:0;}
.short-bio-content-right{float:left; width: 57%; text-align:right;padding-top:0;}
}
@media screen and (max-width: 450px) {
.short-bio-content, .short-bio-content-right, .short-bio-image,.short-bio-image-right{float:left; text-align:left; width:80%; margin:0 10%;}
p.leader-left-link, p.leader-right-link{padding:1em 0 0 1em;}
}

/*--- TEAM ---*/
@media screen and (max-width: 800px) {
li.team-member-array{float:left; width:45%; margin:0 2%;list-style:none; text-align:center;}
}

@media screen and (max-width: 560px) {
.single-team_type .site-main {    margin: 0;    background-color: #ffffff;    padding: 1em;    min-height: 600px;    border: 1px solid #c3cbe0;}
.team-detail-label {    width: 100%;    font-weight: bold;    float: left;    text-align: left;    font-size: .75em;}
.team-detail-description {    width: 100%;    float: right;    font-size: .85em;}
li.team-member-array {    float: left;    width: 96%;    margin: 0 2%;    list-style: none;    text-align: center;}
.team-detail-thumb {  float: left;  width: 100%;  margin-top: 0; }
.team-detail-thumb img {  width: 70%;  height: auto;  margin:0 15% 1em 15%; }
.team-detail-excerpt {  float: left;  width: 100%;  margin-top: .0; }
}