/*----------------------------- THE FOOTER SECTION ---------------------*/

.centering-foot{clear:both; text-align:center;}
.centering-foot .footer-contact{font-size:1.4em;text-transform:uppercase; margin-bottom:.5em;}
.centering-foot .footer-copyright{font-size:.8em; text-align:center;width:100%; padding-top:1em; padding-bottom:2em;}
.centering-foot .social {margin-top: -.75em;}
.foot-social-icons li{display:inline; padding:0 .5em; font-size:1.5em;}
.footer-menu a{color:$mainPurpleColor;}
.footer-menu li{display:inline; margin:0;text-transform:uppercase; }
.footer-menu li:after{content:"|"; color:$whiteColor; padding:0 .5em;}
.footer-menu li:last-of-type:after{content:""; color:$whiteColor; padding:0 ;}
.footer-menu ul{margin:.5em 0; padding:0;}
.special-footer-message {  text-align: left;  padding: 0 1em; }
.special-footer-message h3 {  font-size: 1.5em !important;  font-weight: normal !important;  margin-bottom: 1em !important;padding-top:.5em;}
.site-footer {  clear: both;  width: 100%;  background: $whiteColor;  color: $mainPurpleColor;  /*position:fixed; */ bottom: 0;  z-index: 999;  border-top: none; border-top:solid $mainPurpleColor 1px;  border-bottom:solid $mainPurpleColor 1px;}
.site-info {  text-align: left;  font-size: .75em; }
.site-info a:hover {  text-decoration: underline; }
.site-info {  width: 90%;  max-width: 1100px;  margin: 0em auto;  padding: 2em 0;  text-align: left; }
.footer-copyright {  float: left;  width: 20%; }
.footer-copyright h1 a {  color: $blackColor; }
.footer-copyright h1 {  display: inline;  vertical-align: 75%;  margin-left: .5em; }
.left-foot{float:left; width:49%;font-size: 1.25em; text-transform:uppercase; letter-spacing:.05em;}
.logo-left-foot{float:left; width:100px;}
.left-foot-contact{float:right; width:calc(100% - 110px);}
.right-foot{float:right; width:49%; text-align:right;font-size:1.1em; text-transform:uppercase; letter-spacing: .05em;}
ul.foot-social-icons {  padding: 1em 0 0 0;  margin: 0;  /*float: right; */ margin-top: 0;  clear: both; }
ul.foot-social-icons a{color:$mainPurpleColor;}
ul.foot-social-icons a:hover{color:$defaultFontColor;}
.right-foot .foot-social-icons li {  list-style: none;  float: left;  margin-right: .5em;  font-size: 1.5em; }
.right-foot .social {  float: right;  text-align: right;  width: 100%; }
.right-foot .social a {  color: $mainPurpleColor; }
.right-foot .social a:hover {  color: $blackColor; }
.right-foot .icon-text, .left-foot .icon-text {  font-size: .75em;  /*-- could define break from header --*/  filter: none !important; /*--- this is an IE8 workaround ---*/ }
ul.second-foot-social-icons {  padding: 0 0 .5em 0;  margin: 0;  float: right;  clear: both; }
.top-contact-side .second-foot-social-icons li {  list-style: none;  float: left;  margin-right: .5em;  font-size: 1.25em;}

.footer-focus-link{background-color: $mainPurpleColor;padding:.5em; display: inline-block;-webkit-border-radius: 5px;border-radius: 5px;}
.footer-focus-link a{color:$whiteColor;}

/*-------------FOOTER REGIONS --------------*/
@media screen and (max-width: 1200px) {
  .site-info {    width: 100%;    max-width: 1100px;    margin: 0em auto;    padding: 1em 0; } 
}
@media screen and (max-width: 1100px) {
  .site-info .footer-copyright {    float: left;    width: 100%;    text-align: center; }
  .site-info .footer-copyright img {    width: 40%;    height: auto;    margin: 0 auto; }
  .site-info {    width: 100%;    max-width: 1000px;    margin: 0em auto;    padding: 1em 0; } 
}

@media screen and (max-width: 1000px) {
  .site-info {    width: 95%;    max-width: 900px;    margin: 0em auto;    padding: 1em 0; } 
}

@media screen and (max-width: 799px) {
.left-foot {float: left;width: 100%;font-size: 1.25em;text-transform: uppercase;letter-spacing: .05em;}
.right-foot {float: left;width: calc(100% - 110px;);margin-left:110px;text-align: left;font-size: 1.1em;text-transform: uppercase;letter-spacing: .05em;}
ul.foot-social-icons {padding: .5em 0 0 0; margin: 0;/*float: left;*/margin-top: 0;clear: both;}
}

@media screen and (max-width: 550px) {
 .site-info .footer-copyright h1 {    font-size: 1.5em; }
  }

@media screen and (max-width: 450px) {
  .site-info .footer-copyright h1 {    font-size: 1.5em;    display: block;    margin: 0; } 
  .site-branding{text-align:left;}
 .main-navigation ul {    width: 100%;    margin: 0;}
}
