/*--------------------------------THE HEADER SECTION ---------------------------------------------------------*/

h1.site-title {  margin: 1em 0 0 0; padding-top:.35em;font-size:1.75em;}
.home h1.site-title {  margin: 1em 0 0 0; }
h1.site-title a{color:$mainPurpleColor;font-family:$titleFont;  letter-spacing:.01em; word-spacing:.1em; font-weight:800;}
h2.masthead-info{color:$greyAccentColor;font-weight: normal; letter-spacing:.15em;padding-left:.25em;}


#masthead {  width: 100%;  margin: 0 auto;  top: 0;  background: $whiteColor;  filter: none !important;  border-bottom: none; position:fixed; z-index:9999;}
.masthead-logo {  float: left;  width: 20%;  text-align: left; }
.masthead-nav {  float: right;  width: 100%;  margin-top: 0;  background-color: #ffffff; }
.header-container {  width: 100%;  max-width: 1100px;  margin: 0 auto; }
.masthead-nav-logo {  float: left;  width: 240px;  text-align: left;  padding: .25em 0; }
.masthead-nav-links {  float: right;  width: calc(100% - 275px); }
.top-masthead-holder {  width: 100%;  top: 0;  background-color: transparent;  text-align: left;  border-bottom: none;  min-height: 3em;  position: relative; }
.top-logo-side {  float: left;  width: 250px; }
.top-logo-side h1 a {  color: $mainPurpleColor; }
.top-logo-side h1 {  display: inline; /* vertical-align: 75%; */ margin-left: 0; }
.top-contact-side {  width: calc(100% - 250px);  color: $mainPurpleColor;  top: 0;  right: 0;  max-width: 1100px;  margin: 0 auto; float:left; }
ul.top-social-icons {  padding: .5em 0 0 0;  margin: 0;  float: right;  margin-top: 0;  clear: both; }
ul.second-top-social-icons {  padding: 0 0 .5em 0;  margin: 0;  float: right;  clear: both; }
.top-contact-side .top-social-icons li {  list-style: none;  float: left;  margin-right: .5em;  font-size: 1.5em; }
.top-contact-side .second-top-social-icons li {  list-style: none;  float: left;  margin-right: .5em;  font-size: 1.25em;}
.top-contact-side .social {  float: right;  text-align: right;  width: 100%; }
.top-contact-side .social a {  color: $mainPurpleColor; }
.top-contact-side .social a:hover {  color: $orangeAccentColor; }
.top-contact-side .icon-text {  font-size: .75em;  /*-- could define break from header --*/  filter: none !important;  /*--- this is an IE8 workaround ---*/ }
.top-phone{text-align:right;margin-top:1em;margin-bottom:-.75em;}
.headerlink{float:right;}
.top-contact-side .social .headerlink h3  {color: $mainPurpleColor;  font-family: $defaultFont;border: none;background-color: $blueHeadlineBackground;display: inline;padding: .5em 0;float: right;
margin:.25em 0 ; width:150px; text-align:center;  font-size:1em;}
.top-contact-side .social .headerlink h3 a{color: $blueAccentColor;}
.top-search{clear:both; padding:1em 0 0 0;}
.top-search input[type="search"] {    text-align: center;    width:150px;}
.masthead-holder {  width: 100%;  margin: 0 auto;  top: 0;  text-align: center;  border-bottom: none;  filter: none !important;  }
.masthead-holder {  padding: 0; }
.masthead-holder {  padding: 0; }
.company-slogan {  width: 100%;  max-width: 1100px;  text-align: left;  margin: 0 auto;  clear: both;  padding: 1em 0; }
.site-branding {  width: 100%;  max-width: 1200px;  margin: 1em auto 0  auto;  padding: 0; position:relative;min-height:75px; }
.site-branding img{padding-top:0; width:100%; height:auto;}

/*------------------------------ HEADER ---------------------------*/
@media screen and (max-width: 799px) {
h1.page-entry-title {margin: 0;color: $whiteColor;font-weight: bold;padding: 1em 0;font-size: 3em;position: relative;top: -200px;margin-bottom:-100px;}
.top-logo-side {  float: left;  width: 200px; }
.top-contact-side {  width: calc(100% - 200px);  color: $mainPurpleColor;  top: 0;  right: 0;  max-width: 1100px;  margin: 0 auto; float:left; }
h1.site-title {  margin: .6em 0 0 0; padding-top:.1em;font-size:2em;}
.home h1.site-title {  margin: .6em 0 0 0; }
}
@media screen and (max-width: 699px) {
h1.site-title {  margin: 1em 0 0 0; padding-top:.25em;font-size:1.75em;}  
h2.masthead-info{color:$greyAccentColor;font-weight: normal; letter-spacing:.15em;padding-left:.25em;font-size:1em;}
}
@media screen and (max-width: 599px) {
.top-logo-side {  float: left;  width: 115px; }
.top-contact-side {  width: calc(100% - 115px);  color: $mainPurpleColor;  top: 0;  right: 0;  max-width: 1100px;  margin: 0 auto; float:left; }  
h1.site-title {  margin: .2em 0 0 0; padding-top:.1em;font-size:1.5em;}
.home h1.site-title {  margin: .25em 0 0 0; }
}
@media screen and (max-width: 499px) {
.top-logo-side {  float: left;  width: 100px; }
.top-contact-side {  width: calc(100% - 100px);  color: $mainPurpleColor;  top: 0;  right: 0;  max-width: 1100px;  margin: 0 auto; float:left; }  
h1.site-title {  margin: .25em 0 0 0; padding-top:.1em;font-size:1em;}
.home h1.site-title {  margin: .25em 0 0 0; }
h2.masthead-info{color:$greyAccentColor;font-weight: normal; letter-spacing:.15em;padding-left:.25em;font-size:.75em;}
}
@media screen and (max-width: 399px) {
h1.page-entry-title {margin: 0;color: $whiteColor;font-weight: bold;padding: 1em 0;font-size: 2em;position: relative; top: -100px; margin-bottom:-60px;}
.top-logo-side {  float: left;  width: 100px; }
.top-contact-side {  width: calc(100% - 100px);  color: $mainPurpleColor;  top: 0;  right: 0;  max-width: 1100px;  margin: 0 auto; float:left; }   
h1.site-title {  margin: -.2em 0 0 .25em; padding-top:.1em; }
.home h1.site-title {  margin: -.2em 0 0 .25em; }
h1.site-title a{ font-weight:400;}
}
@media screen and (max-width: 299px) {
h1.page-entry-title {visibility:collapse;top:0;padding:0;}
}

@media screen and (max-width: 1200px) {
  .site-branding {    width: 100%;    max-width: 1100px;    margin: 0em auto;    padding: 1em 0; }
   }

@media screen and (max-width: 1100px) {
 .site-branding {width: 100%;max-width: 1000px;margin: 0em auto;padding: 1em 0; }
  .masthead-nav {    float: right;    width: 100%;    margin-top: 0; }
  .top-masthead-holder .top-logo-side {float: left;width: 100%;text-align: left; }
  .top-masthead-holder .top-logo-side img {width: 40%;height: auto;margin: 0 auto; }
  .top-masthead-holder .top-contact-side {float: left;width: 100%;margin-top: 1.1em; }
  .top-masthead-holder ul.top-social-icons {padding: 0;margin: 0;float: left;margin-top: 0; }
  ul.second-top-social-icons {padding: 0;margin: 0;float: left !important;clear: both; }
  .top-masthead-holder .top-contact-side {float: left;width: 100%;margin-top: 0; }
   }

@media screen and (max-width: 1000px) {
  .site-branding {    width: 95%;    max-width: 900px;    margin: 0em auto;    padding: 1em 0; } 
}

@media screen and (max-width: 1000px) {
  .masthead-nav-logo {    float: left;    width: 100%;    text-align: left;    padding: .25em 0; }
  .masthead-nav-links {    float: right;    width: 100%; } 
}

@media screen and (max-width: 550px) {
  .top-masthead-holder .top-contact-side {    float: left;    width: calc(100% - 5em);    margin-top: 0; }
  .top-masthead-holder ul.top-social-icons {    padding: 0;    margin: 0;    float: left;    margin-top: 0;    visibility: collapse; }
     }