/*--------------------------------- THE MAIN CONTENT SECTION -------------------*/

/*--- split columns -------*/
.left-side{float:left; width:48%;}
.right-side{float:right; width:48%;}
@media screen and (max-width: 600px) {
.left-side{float:left; width:80%; margin: 0 10%;}
.right-side{float:left; width:80%; margin: 0 10%;}
}

/*-------------------------------STANDARD MAIN CONTENT REGION --------------------------------------------------*/
#page {  /*padding-bottom:8em;*/ }
/*-- makes room for footer in scroll --*/
#content {  width: 100%;  max-width: 1100px;  margin: 0em auto;  padding: 0 1em;color: $defaultFontColor;  min-height: 350px; }
.content-area {	float: left;	margin: 160px -25% 0 0;	width: 100%; }
.site-main {	margin:0;background-color:$whiteColor; padding:1em 3.5em; min-height:600px;border:1px solid $blueHeadlineBackground;float:left; width:65%;}
.site-content .widget-area {	float: right;	overflow: hidden;	width: 25%; }
#content {  width: 100%;  max-width: 1100px;  margin: 0 auto;  padding: 0 1em; }
.site-branding .houzz img {float: right;text-align: center;padding-right:2.5em;padding-top: 0;}
#content {  min-height: 65vh;  margin: 0 auto 2em auto; }
.entry-content li {  margin-bottom: .5em; color:$blackColor; font-size:1em; font-weight:normal;line-height:1.35em;}
.entry-content .orange li{  margin-bottom: .5em; color:$orangeAccentColor; font-size:1.1em; font-weight:bold;}
.entry-content .highlighted li{  margin-bottom: .5em; color:$mainPurpleColor; font-size:1em; font-weight:bold;list-style: none;}
 .entry-content .highlighted li:before { /* For a round bullet */ content:'\2022'; /* For a square bullet */ /*content:'\25A0';*/ display: block;position: relative;
 max-width: 0px; max-height: 0px; left: -27px; top: -0px; color: $greenAccentColor; font-size: 15px;}
#content {  width: 90%;  max-width: 1100px;  margin: 0 auto 1em auto;  padding: 1em; }
/*---for full width configurations -- eliminated top padding and magins to tighten things up ---*/
.full-content-area {  float: none;  margin: 0 auto;  width: 100%;  max-width: 1100px;  background-color: $whiteColor; padding: 1em 2em; margin-top:160px;border:1px solid $blueHeadlineBackground;}
.page-template-page-landing .full-content-area{border:none 0px transparent;}
.page-template-page-sections .full-content-area {   max-width: 800px;padding: 1em 3em;}
.full-site-main {  margin: 0 auto;  padding-top: 0; }

.page-template-page-leadership .site-main {
    margin: 0;
    background-color: #ffffff;
    padding: 1em 2.5em;
    min-height: 600px;
    border: 1px solid #c3cbe0;
    float: none;
    width: 65%;
    margin: 0 auto;
}
/*--------------CONTENT REGIONS ----------------*/
@media screen and (max-width: 1200px) {
  #content, .company-slogan {    width: 100%;    max-width: 1100px;    margin: 0em auto;    padding: 1em 0; } 
}

@media screen and (max-width: 1100px) {
  .full-site-main {    margin: 0 auto;    padding-top: 0; }
  #content, .company-slogan {    width: 100%;    max-width: 1000px;    margin: 0em auto;    padding: 1em 0; }
  .full-site-main {    margin: 0 auto;    padding-top: 0; }
   }

@media screen and (max-width: 1000px) {
  #content, .company-slogan {    width: 95%;    max-width: 900px;    margin: 0em auto;    padding: 1em 0; } 
}
@media screen and (max-width: 799px) {
  .gallery-columns-4 .gallery-item{max-width:32.33%;margin-right:1%; } 
   .front-project-array li {float: left;width: calc(33.33% - 1em); text-align: center; margin: 0 .5em;}
  #content {    margin-top: 0;    /*--- compensates for small menu icon ---*/    display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;
  -webkit-box-orient: vertical;-webkit-box-direction: normal;-webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column;    min-height: none; }
  .content-area, .site-content .widget-area {    width: 100%; }
  .content-area {    float: right;    margin: 0;    width: 100%;    padding: 0 2em; margin-top:8em;}
   .site-main {margin: 0;float: left;width: 100%;}
  .site-main .comment-navigation, .site-main .posts-navigation, .site-main .post-navigation { margin: 0 0 1.5em;    overflow: hidden; }
  .comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous { float: left;    width: 50%; }
  .comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next { float: right;    text-align: right;    width: 50%; } 
  .page-template-page-leadership .site-main {  width: 100%; padding:0 .5em;}
  .page-template-page-leadership .content-area{padding:0 .5em;}
  .page-template-page-leadership hr{background-color:transparent;}
}