/*------------------------------THE SIDEBARS SECTION --------------------------------------------------------------*/

.widget {  margin: 0 0 1.5em; }
/* Make sure select elements fit in widgets. */
.widget select {  max-width: 100%; }
#secondary {  padding: 0; border:1px solid $blueHeadlineBackground; background:$whiteColor;}
#secondary img {margin-top: 1em;}
#secondary ul {  margin: 0;  padding: 0 1em; }
.site-content .widget-area {  float: right;  overflow: hidden;  width: 30%; }
#secondary .widget {  margin:0;  background:$whiteColor; }
#secondary .textwidget,#secondary .search-form,#secondary .menu{padding:1em;background:$whiteColor;}
.page-template-page-researchsolutions #secondary {  padding: 0; border:0px none transparent; margin-top:0;background:transparent;}
.page-template-page-researchsolutions #secondary .textwidget, .page-template-page-researchsolutions #secondary .search-form, 
.page-template-page-researchsolutions #secondary .menu {
 padding: 2em 1em 1em 1em;background: $whiteColor;border:1px solid $blueHeadlineBackground; margin-bottom:1em;}
.page-template-page-researchsolutions #secondary img {margin: 1em 0;}
.page-template-page-researchsolutions #secondary .textwidget h2 {font-size: 1em;font-weight: bold;font-family:$defaultFont;background: transparent;
    text-align: left;padding: 0 0 1em 0;margin: 0;}

 /*---------------SIDEBAR ---------------------------*/
@media screen and (max-width: 799px) {
  #secondary {margin: 2em auto 2em auto;width: 100%;}
  #secondary li {    text-align: left; }
  .widget_nav_menu h2.widget-title {    text-align: left; }
}