/*--------------------------- THE NAVIGATION SECTION --------------------------------------------------------------*/

/*--------------------------------------------------------------MAIN MENU ---------------------------------------------------------*/
.main-navigation{clear:both; display:block; float:left; width:100%; font-family:$defaultFont;}
.main-navigation ul{display:none; list-style:none; margin:0; padding-left:0}
.main-navigation li{float:left; position:relative}
.main-navigation a{display:block; text-decoration:none; font-weight:normal;}
.main-navigation ul ul{box-shadow:0 3px 3px rgba(0,0,0,0.0); float:left; position:absolute; top:1.5em; left:-999em; z-index:99999}
.main-navigation ul ul ul{left:-999em; top:0}
.main-navigation ul ul a{width:200px}
.main-navigation ul ul li{}
.main-navigation li:hover >a, .main-navigation li.focus >a{}
.main-navigation ul ul:hover >a, .main-navigation ul ul .focus >a{}
.main-navigation ul ul a:hover, .main-navigation ul ul a.focus{}
.main-navigation ul li:hover >ul, .main-navigation ul li.focus >ul{left:auto}
.main-navigation ul ul li:hover >ul, .main-navigation ul ul li.focus >ul{left:100%}
.main-navigation .current_page_item >a, .main-navigation .current-menu-item >a, .main-navigation .current_page_ancestor >a, .main-navigation .current-menu-ancestor >a{}
/* Small menu. */
.menu-toggle, .main-navigation.toggled ul{display:block}
@media screen and (min-width:37.5em){.menu-toggle{display:none}
.main-navigation ul{display:block}
}
.site-main .comment-navigation, .site-main .posts-navigation, .site-main .post-navigation{margin:0 0 1.5em; overflow:hidden}
.comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous{float:left; width:50%}
.comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next{float:right; text-align:right; width:50%}

/*---------------------------------Navigation--------------------------------------------------------------*/
ul.social-icons {  padding: 0;  margin: 0; }
ul.social-icons > li {  display: inline-block;  list-style: none;  margin: .5em 1em;  font-size: 2em; }
/*---------------------DEFAULT DISPLAY OF MAIN MENU | CANNOT GO MOBILE FIRST BECAUSE OF IE8 -------------------------*/
/*--------------------------------------------------------------MAIN MENU REGION -------------------------------------------------------*/
/*--- hides the responsive menu ---*/
.menu-toggle {  display: none; }
.main-navigation ul {  display: block; }
/*--- MAIN & FIRST LEVEL CONTROLS ---*/
.main-navigation {  clear: both;  display: block;  float: none;  width: 100%;  /*height:2em; */  /*background-color:$turquoiseColor;*/ 
 background: $mainPurpleColor;  margin-top: 0; border-bottom:solid $mainPurpleColor 1px; border-top:solid $mainPurpleColor 1px; }
.main-navigation ul {  list-style: none;  text-align: center;  /*text-align determines menu position */  margin: 0;
  padding-left: 0;  padding-top: 0;  margin-bottom: -.25em; }
.main-navigation li {  position: relative;  margin-right: 2.5em;  font-size: 1em;  display: inline-block;  float: none;
  /* need to neutralize float explicitly */  padding:0 1.5em;  background: transparent;  color: $whiteColor;  
/*-webkit-border-radius: 10px 10px 0 0;border-radius: 10px 10px 0 0;*/  /*border:solid 1px $blackColor;border-bottom:none;*/ }
.main-navigation li:last-child {  position: relative;  margin-right: 0;  font-size: 1em;  margin-bottom: .25em;
  display: inline-block;  padding: .5em; }
.main-navigation li:hover {  background: transparent;  text-decoration: underline;color: $yellowAccentColor!important; }
.main-navigation li:hover a {  color: $yellowAccentColor!important; text-decoration: underline;}
.main-navigation a {  display: block;  text-decoration: none;  font-weight: bold;  color: $whiteColor;  text-transform: uppercase;  font-size: 1em; font-weight:normal;/*letter-spacing:.05em; */}
.main-navigation a:hover {  color: $yellowAccentColor; }
.main-navigation li.current-menu-item a, .main-navigation li.current_page_item a {  color: $yellowAccentColor; }
.main-navigation li.current_page_item { color: $yellowAccentColor; }
.main-navigation .current-menu-item {  color: $yellowAccentColor;   }
.main-navigation ul li.current-menu-item a, .main-navigation ul li.current_page_item a,
.main-navigation ul li.current-menu-item, .main-navigation ul li.current_page_item {background: transparent;  color: $yellowAccentColor;  text-decoration: none; }
/*--- SECOND LEVEL CONTROLS ---*/
.main-navigation ul ul li:last-child {  position: relative;  margin-right: 0;  font-size: 1em;  margin-bottom: .25em;
  display: inline-block;  padding: .5em 1em;  }

.main-navigation ul ul {margin-left: 0;  display: block;  float: left;  position: absolute;  top: 2em;
  left: 0;  z-index: 99999;  text-align: left;  visibility: collapse;  opacity: .001;  transition: all .5s ease-in-out 0s;background: $backgroundPurpleColor; }
.main-navigation ul ul li {  background: transparent;  -webkit-border-radius: 0;  border-radius: 0; padding-bottom:.5em;}

.main-navigation ul ul li:last-child {  position: relative;  margin-left: 1em;  font-size: 1em;  margin-bottom: .25em;
  display: inline-block;  padding: 0 .5em; }


.main-navigation ul ul li a {  color: $mainPurpleColor!important; text-decoration:none;}
.main-navigation ul ul li a:hover, .main-navigation ul ul li:hover {  text-decoration: underline;  background: transparent none repeat scroll 0% 0%;  color: $mainPurpleColor !important; }
.main-navigation li.current-menu-item a li, .main-navigation li.current_page_item a li {  background: #190a16;  color: $mainPurpleColor; font-weight:bold;}
.main-navigation ul ul li.current-menu-item a, .main-navigation ul ul li.current_page_item a, .main-navigation ul ul li.current-menu-item, 
.main-navigation ul ul li.current_page_item {  background: transparent none repeat scroll 0% 0%;  color: $mainPurpleColor!important;font-weight:bold; }
.main-navigation li.current-menu-item li a, .main-navigation li.current_page_item li a {  background: transparent; }
.main-navigation ul ul ul {  left: 100%;  top: 0; }
.main-navigation ul ul a {  width: 300px; }
.main-navigation ul li:hover > ul {  display: block;  opacity: 1;  visibility: visible;  transition: all 0.25s ease 0s;
  width: 350px;  overflow: hidden;  left: 0; color:$mainPurpleColor!important;}
.main-navigation ul li:last-child:hover > ul {display: block;opacity: 1;visibility: visible;transition: all 0.25s ease 0s;width: 300px;overflow: visible;left: -120px;
	text-align:right; padding-right:1.5em;}
/*--- controls the dropdown colors ---*/
.main-navigation ul li:hover > ul a {  color: $mainPurpleColor!important; }
.main-navigation ul li:hover > ul a:hover{text-decoration:underline;}
.main-navigation ul li:hover > ul li {  background-color: transparent; text-decoration:none;}
.main-navigation ul li:hover > ul li a{text-decoration:none;}
.main-navigation ul li.current-menu-item ul li a {  background: transparent;  color: $mainPurpleColor; }
.main-navigation ul ul li.current_page_item {  background: transparent;  color: $mainPurpleColor; }

/*------------------------------MAIN MENU -----------------*/
@media screen and (max-width: 1100px) {
.main-navigation li, .main-navigation li:last-child { padding:0 .5em;}	
 .masthead-nav-links {    float: left !important; }
.main-navigation ul {    list-style: none;    padding-left: 0;    margin: 0;    padding-left: 0;   padding-top: 0;    margin-bottom: 0; } 
.main-navigation li {position: relative;margin-right: .25em;font-size: 1em;display: inline-block;float: none;/*padding: 1.5em .5em;*/background: transparent;color:$whiteColor;
 -webkit-border-radius: 0;border-radius: 10px 10px 0 0;border: none 0 transparent;border-bottom: none;}
 .main-navigation ul ul li:last-child {  position: relative;  margin-left: 0;  font-size: 1em;  margin-bottom: .25em; display: inline-block;  padding: 0 .5em; }
}



@media screen and (max-width: 960px) {
  .main-navigation li, .main-navigation li:last-child {    font-size:.85em; } 
.main-navigation ul ul li:last-child {position: relative;margin-left: 0;font-size: .9em;margin-bottom: .25em;display: inline-block;padding: 0 .5em;}
}

@media screen and (max-width: 825px) {
.single-team_type .site-main {    margin: 0;    background-color: #ffffff;    padding: 1em;    min-height: 600px;    border: 1px solid #c3cbe0;    width: 100%;}
li.team-member-array {float: left;width: 46%;margin: 0 2%; list-style: none;text-align: center;}
.full-content-area {  float: none;  margin: 0 auto;  width: 100%;  max-width: 1100px;  background-color: $whiteColor; padding: 1em 2em; margin-top:0px;}	
#masthead {width: 100%;margin: 0 auto;top: 0;background: $whiteColor;filter: none !important;border-bottom: none;position: relative;z-index: 9999;}	
.outer-locations-container { margin-top: 0;}
.outer-slider-container { clear: both; background-color: #676b74;  margin-top: 0;}	
/*-------------- OVERKILL ENSURING LINK COLORS ----------*/
.main-navigation li:hover >a, .main-navigation li.focus >a{color:$mainPurpleColor;}
.main-navigation ul ul:hover >a, .main-navigation ul ul .focus >a{color:$mainPurpleColor;}
.main-navigation ul ul a:hover, .main-navigation ul ul a.focus{color:$mainPurpleColor;}
.main-navigation ul li:hover >ul, .main-navigation ul li.focus >ul{left:auto}
.main-navigation ul ul li:hover >ul, .main-navigation ul ul li.focus >ul{left:100%;color:$mainPurpleColor;}
.main-navigation .current_page_item >a, .main-navigation .current-menu-item >a, .main-navigation .current_page_ancestor >a, .main-navigation .current-menu-ancestor >a{color:$mainPurpleColor;}
/*------FIRST LEVEL NAV ------*/
.masthead-nav-links {    float: left;    width: 100%; }
.main-navigation{/*border-bottom:none; background-color:transparent;*/background-color:$mainPurpleColor; height:3em;}
.main-navigation ul li.current-menu-item a, .main-navigation ul li.current_page_item a,.main-navigation ul li.current-menu-item, 
.main-navigation ul li.current_page_item {  background: transparent;  color: $mainPurpleColor;  text-decoration: none; }
.main-navigation  li.current_page_item a {  background: transparent none repeat scroll 0% 0%;  color: $mainPurpleColor!important;font-weight:bold; }
.main-navigation  li.current_page_item a ul a{  background: transparent none repeat scroll 0% 0%;  color: red!important;font-weight:bold; }
.main-navigation ul li.current-menu-item > ul li a {font-weight: normal !important;}
  .main-navigation {    clear: both;    display: table;    width: 100%;    /*background-color: #ffffff; position:absolute;*/}
  .main-navigation ul {    display: none;    list-style: none;    margin: 0;    padding-left: 0;    margin-bottom: -.25em;
    text-align: left;    background: $whiteColor;    text-align: left;    border: solid 1px;    width: 60%; }
  .main-navigation ul ul {    width: 100%; }
  .main-navigation li {    display: table;    background: transparent; padding: 0 0 0 .5em;}
  .main-navigation li, .main-navigation li:last-child{font-size:1em;}
  .main-navigation li:hover a {  color: $mainPurpleColor!important; text-decoration: underline;}
  .main-navigation ul ul a {    width: auto; }
  .main-navigation li a:hover {    text-decoration: underline; color:$mainPurpleColor!important;}
  .main-navigation ul ul li {    display: table;    background: $whiteColor; }
  .main-navigation ul ul li a {    color: $mainPurpleColor; }
  .main-navigation li:last-child, .home .main-navigation li:last-child {    position: relative;    margin-right: 0; margin-left:0;
    margin-bottom: .25em;    display: table;   /* padding: .5em 1em;  */  width: 100%; padding: 0 0 0 .5em;}
  .main-navigation ul ul li:last-child, .home .main-navigation ul ul li:last-child {margin-left:0;} 
  .main-navigation a {    display: block;    text-decoration: none; color:$mainPurpleColor }
  /*------SECOND LEVEL NAV ------*/
  .main-navigation ul ul {background: $whiteColor;display: block;float: left;left: 0;margin-left:.25em; margin-top:0;opacity: 1;position: static;text-align: left;top: 0;
  transition: all 0.5s ease-in-out 0s;visibility: visible;    z-index: 999999;    border: none;  padding-bottom:1em;}
  .main-navigation ul ul li a, .main-navigation ul ul li a, .main-navigation ul ul li, .main-navigation ul ul li {
    background: $whiteColor none repeat scroll 0% 0%;    color: #190a16; }
  .main-navigation ul ul li a {  background: $whiteColor none repeat scroll 0% 0%;    color: $mainPurpleColor; }
  .main-navigation ul ul li:last-child {position: relative;margin-left: 0;font-size: 1em;margin-bottom: .25em;display: inline-block;padding: .5em; width:auto;}
  .main-navigation ul li:hover > ul a, .main-navigation ul li:hover > ul li,  .home .main-navigation ul li:hover > ul a, .home .main-navigation ul li:hover > ul li {   
   color: $mainPurpleColor!important;    width: 100%;    background: $whiteColor; }
  .main-navigation ul li:last-child:hover > ul, .main-navigation ul li:hover > ul {    display: block;    left: 0;
    opacity: 1;    overflow: hidden;    transition: none;    visibility: visible;    width: 100%; }
  .main-navigation ul ul li, .main-navigation ul ul li:hover,  .home .main-navigation ul ul li, .home .main-navigation ul ul li:hover {background: $whiteColor;color: $mainPurpleColor; }
  .main-navigation ul ul li a {    color:$mainPurpleColor; }
  .main-navigation, .flexbox .main-navigation {    clear: both;    display: block;    width: 100%; }
  /* Small menu. */
  .menu-toggle, .main-navigation.toggled ul {    display: block;    background: $whiteColor;    position: relative;
    z-index: 999; margin-top:1em;}
  button.menu-toggle, input.menu-toggle[type="button"] {    border: none;    border-radius: 0px;    background: transparent;    
  	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0), inset 0 15px 17px rgba(255, 255, 255, 0), inset 0 -5px 12px transparent;    
  	color: $whiteColor;    font-size: 1.5em;    line-height: 1;    padding: 0;    text-shadow: 0 1px 0 rgba(255, 255, 255, 0); }
  /*--- PUSHING THE MENU TO THE RIGHT AND MAKING SURE THE OPENED MENU IS BELOW THE ICON-----*/
  button.menu-toggle, input.menu-toggle[type="button"] { float: none; margin-top: -1em;font-size: 2.25em; width:100%;}
    .togglemenutext{font-size:.5em; font-weight:normal;font-family:$titleFont; margin-left:-4em;  
    }
  /*--- CENTERS THE MENU ON ACTIVATION ----*/
  .main-navigation ul {    margin: 1em 0 0 20%; }
  #primary-menu{top:0;}
  .page-template-page-researchsolutions #secondary {padding: 0;border: 0px none transparent;margin-top: 3em;background: transparent;}
   }

@media screen and (max-width: 700px) {
  .main-navigation ul {    width: 75%;    margin: 0 10%; } 
}

/*--- letting the activated menu go to full width at small sizes - LEFT JUSTIFIED ICON ---*/
@media screen and (max-width: 700px) {
  .main-navigation ul {    width: 75%;    margin-top: 1em !important; }
  .main-navigation ul li ul li, .main-navigation ul li ul li a, .main-navigation ul li ul:hover {
    background: transparent; }
  .main-navigation li:last-child {    width: 200px; }
  .main-navigation ul li:last-child:hover > ul, .main-navigation ul li:hover > ul {
    display: block;    left: 0;    opacity: 1;    overflow: hidden;    transition: none;    visibility: visible;    width: auto; }
  .main-navigation ul li ul {    margin: 0; }
}

@media screen and (max-width: 600px) {
.top-logo-side,  .top-contact-side{  float: left;  width: 100%; }
.top-logo-side img{width:50%; height:auto;}
.top-contact-side .social {  float: left;  text-align: left;  width: 100%; }
.top-phone {    text-align:left;}
.top-search {  float: left;}
ul.top-social-icons {float: left;}
.headerlink {float: left;width: 100%;margin-left:2em;}
.top-contact-side .social .headerlink h3 { display: block; padding: .5em 0; float: left; margin: 1em 0;}
.entry-content ul, .entry-content ol {margin: 0 0 2em -1em!important;}
}
@media screen and (max-width:500px) {
button.menu-toggle, input.menu-toggle[type="button"] {margin-top: -.1em;}
}

@media screen and (max-width: 375px) {
  .main-navigation ul li ul a {    width: 250px; }
}