/* ------------------------------------ THE ODD BITS SECTION -------------------------------------------------*/
/*--- association list --*/
ul.association-list{margin:0; padding:0;}
.association-list li{float:left; list-style:none; margin-right:2em;}

@media screen and (max-width: 1100px) {
.association-list li{float:left; list-style:none; margin-right:1em; width:calc(33% - 1em);}
.association-list li img{max-width: 70%;}
}	
@media screen and (max-width: 600px) {
.association-list li img{max-width: 60%;}
}
@media screen and (max-width: 400px) {
.association-list li{float:left; list-style:none; margin-right:1em; width:calc(100% - 1em);}
}

/*--- CASE STUDY RELATED STYLES ----*/
.casestudy-example h1{padding-bottom:.75em!important; padding-top:.5em; clear:both; font-size:1.75em;}
.casestudy-example h2{display:inline; padding: 0 1em 0 0; font-weight:bold;font-size: 1.2em;}
.casestudy-example h3 {  font-size: 1.2em;  color: $blackColor;  line-height: 1.1em;  margin: 0 0 .5em 0;font-family:$titleFont; letter-spacing:.05em; font-weight:bold; 
	border-bottom:solid 2px $mediumPurpleColor; margin-bottom:1em;}
.industry-array{clear:both;}
.industry-array h1 a{ margin:0 0 .25em 0;}
.industry-array .archive-excerpt h1{margin:0 0 .25em 0; font-weight:bold;}
.industry-array .archive-excerpt h3{font-weight:bold; display:inline; font-size:1em;}
.tax-industry .hentry {margin: 0;}

/*--- LOCATIONS SLIDER RELATED ---*/
.outer-locations-container{clear:both; background-color:$greyAccentColor; margin-top:160px;}
.locations-container{width:100%; max-width:1100px; margin:0 auto;padding-bottom:.5em;}
.entry-content .flexslider {  margin: 0em 0px 3em;  background: transparent;  border: none;  position: relative;  border-radius: 4px; }
.locations-caption h2{color:$whiteColor; font-family:$titleFont; font-size:1.25em;font-weight:normal;margin:0; padding:.5em;}
.locations-caption{background:$greyAccentColor; text-align:center;}
.page-template-page-locations .full-content-area {margin-top:0; padding-top:0;}
.industry-array hr {background-color: #ccc; border: 0; height: 3px; margin-bottom: 1.5em;}

/*---------------------SPECIAL CONTENT REGIONS --------------------------------------------------------------*/
/*---- ARCHIVE ARRAYS ---*/
.archive-thumb {  float: left;  width: 20%;  margin-top: 0; }
.archive-thumb img {  width: 100%;  height: auto;  margin-top: .25em; }
.archive-excerpt {  float: right;  width: 77%;  margin-top: .0; }
.archive-excerpt p {  margin: 0; }
.entry-meta {  color: #bfbfbf;  line-height: .95em;  margin: -.25em 0 .25em 0;  font-size: .75em; }
.full-width-excerpt p {  margin: 0; }
.achive-link {  display: inline; }

/*--- FLEXSLIDER RELATED ---*/
.flex-direction-nav a {opacity:1;color: $mainPurpleColor!important;}
.flex-direction-nav a::before {color: $mainPurpleColor!important;font-size:2em;}
.outer-slider-container{clear:both; background-color:transparent; margin-top:130px;border-bottom:solid 2px $mainPurpleColor;}
.slider-container{width:100%; max-width:1100px; margin:0 auto;padding-bottom:0;}
.entry-content .flexslider {  margin: 0em 0px 3em;  background: transparent;  border: none;  position: relative;  border-radius: 4px; }
.flex-caption {  width: 40%;   /* left: 45%;  */bottom: 0;      font-size: 1em;  line-height: 1.5em;  
	position: absolute;  top:65%;  right:3em;/*background-color: rgba(0, 0, 0, 0.15);*/  text-align: left;  font-size: 1.1em; }
.flex-inner-caption{padding: .5em 1em; color: $whiteColor;background-color:$lightPurpleColor;-webkit-border-radius: 10px; border-radius:10px;border:none;}
.flex-inner-caption p {margin-bottom: .5em; margin-top: 0; text-align: justify; line-height: 1.35em; font-size:1.25em;}
.flex-inner-caption a{color:$whiteColor;}
.flex-caption h2{color:$whiteColor; font-family:$titleFont; font-size:2.5em;font-weight:normal;}
.flex-caption h3{color:$whiteColor; font-family:$titleFont; display:inline; float:left; margin-left:5%;
/* padding:1em; -webkit-box-shadow:inset 2px 2px 2px 2px rgba(0,0,0,.5); box-shadow:inset 2px 2px 2px 2px rgba(0,0,0,.5); */ }
.flex-caption h3:hover{background-color:$mediumPurpleColor;}
.flex-caption h3 a{color:$whiteColor;}
.flexslider a {  text-decoration: none; }

@media screen and (max-width: 960px) {
.flex-caption {/*width: 100%;padding: 2% 10%;  left: 0;bottom: 0; color: $whiteColor;font-size: 1em;line-height: 1.5em; position: static; top:0em; 
	background-color: $darkGreyColor;  text-align: left;  font-size: 1em; padding-bottom:3.5em;*/ visibility:collapse; }
.slider-container{width:100%; max-width:1100px; margin:0 auto;padding-bottom:0;}	
}

/*--- SEARCH RELATED--*/
.search-array li {  float: left;  width: 23%;  list-style: none;  margin: 0 1%;  min-height: 250px;  text-align: center; }
.search-array li h2 {  font-size: 1em; }



/*------------------------------ RESPONSIVE STYLING BY SECTION---------------------*/

@media screen and (max-width: 400px) {
.flex-caption h2 {	font-size: 1.5em;}
.top-search {    clear: both;    padding: 1em 0;}
/*.headerlink {visibility:collapse; font-size:0; height:0;background-color:transparent;}*/
.phone-number{float:left; width:100%;clear:both;}
.top-logo-side img{width:70%; height:auto;}
.top-contact-side .social .headerlink h3 {display: block;padding: .5em 0;float: left;margin: 0 0 1em 0;font-size: .75em;}
.top-search {clear: both;padding: 0 0 .5em 0;}
}

@media screen and (max-width: 600px) {
 .gallery-columns-4 .gallery-item{max-width:49%;margin-right:1%; } 
 .front-project-array li {float: left;width: calc(50% - 1em); text-align: center; margin: 0 .5em;}
 body{overflow-x:hidden;}
}

@media screen and (max-width: 450px) {
 .gallery-columns-4 .gallery-item{max-width:98%;margin:0 1%; } 
 .front-project-array li {float: left;width: calc(100% - 1em); text-align: center; margin: 0 .5em;}
}    

@media screen and (max-width: 560px) {
  .archive-thumb { float: left; width: 100%;  margin-top: .25em; text-align: center; }
  .archive-thumb img {width: 60%; height: auto; }
  .archive-excerpt {float: left; width: 100%; margin-top:.25em; }
  .archive-excerpt h1 {text-align: center; } 
  .outer-slider-container{ margin-top:110px;}
}




