/*------------------------------ THE TYPOGRAPHY SECTION -----------------------*/

/*-----------# Typography--------------------------------------------------------------*/
body, button, input, select, textarea{color:#404040; font-family:$defaultFont; font-size:16px; font-size:1rem; line-height:1.5}
h1, h2, h3, h4, h5, h6{clear:both}
p{margin-bottom:1.5em}
dfn, cite, em, i{font-style:italic}
blockquote{margin:0 1.5em}
address{margin:0 0 1.5em}
pre{background:#eee; font-family:"Courier 10 Pitch",Courier,monospace; font-size:15px; font-size:0.9375rem; line-height:1.6; margin-bottom:1.6em; max-width:100%; overflow:auto; padding:1.6em}
code, kbd, tt, var{font-family:Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace; font-size:15px; font-size:0.9375rem}
abbr, acronym{border-bottom:1px dotted #666; cursor:help}
mark, ins{background:#fff9c0; text-decoration:none}
big{font-size:125%}

h1.archive-title, .archive-excerpt h1, .full-width-excerpt h1 {  margin: 0;  color: #190a16;  font-weight: normal;  padding-top: 0;  font-size: 1.5em; }

h1.page-entry-title {margin: 0;color: $whiteColor;font-weight: normal;padding: 1em 0;font-size: 4em;position: relative;top: -350px;margin-bottom:-175px;}

/*-----------------------------## Links--------------------------------------------------------------*/
a{color:royalblue}
a:visited{color:purple}
a:hover, a:focus, a:active{color:midnightblue}
a:focus{outline:thin dotted}
a:hover, a:active{outline:0}
p.archive-link{text-align: right;}
/*-------------------------------------Links--------------------------------------------------------------*/
a {  color:$blueAccentColor;  text-decoration: none; }
a:visited {  color: $blueAccentColor; }
a:hover, a:focus, a:active {   }
a:hover {  text-decoration: underline; }
a:focus {  outline: 0; }
a:hover, a:active {  outline: 0;color: $blueAccentColor; }
/* -----------------------------TYPOGRAPHY OVER-RIDES ----------------------------------------------------*/

.site-main aside {padding: 1em;margin: 1em;border: 1px solid;}
.site-main aside ul,.site-main aside  ol { margin: 0 2em 0 2em;}

h1 {  font-size: 1.5em;  color:$mainPurpleColor;  line-height: 1.1em;  margin: 0 0 .5em 0; font-family:$titleFont; letter-spacing:.05em; }
h2 {    font-size: 1.2em;    font-weight: normal;    color: $mainPurpleColor;    line-height: 1.1em;    margin: 0 0 1em 0;
    font-family:$defaultFont;    letter-spacing: .05em;    display: block;    clear: none;    font-weight: bold;}
h3 {  font-size: 1.1em;  color: $mainPurpleColor;  line-height: 1.1em;  margin: 0 0 .5em 0;  font-family:$titleFont; letter-spacing:.05em; font-weight:bold; }
h4 {  font-size: 1.05em;  font-weight: normal;  color: $mainPurpleColor;  line-height: 1.1em;  margin: 0 0 .5em 0; font-family:$titleFont; letter-spacing:.05em; font-weight:bold;}
h5 {  font-size: 1em;  color:$mainPurpleColor;  line-height: 1.1em;  margin: 0 0 .5em 0; font-family:$titleFont; letter-spacing:.05em; font-weight:bold;}
h6 {  font-size: 1em;  font-weight: normal;  color: $mainPurpleColor;  line-height: 1.1em;  margin: 0 0 .5em 0;font-family:$titleFont; letter-spacing:.05em; font-weight:normal; }
p {  margin-bottom: 1.5em;  margin-top: -.5em;  /*text-align: justify;*/ line-height:1.35em; font-size:.85em;}

h1.entry-title {  margin: .5em 0;  color:$mainPurpleColor;  font-size: 1.75em; /*letter-spacing:.1em; */padding-bottom:.5em;}
h1.little-title {  margin: .5em 0;  color:$mainPurpleColor;   padding-bottom: .5em;  font-size: 1em; /*letter-spacing:.1em; */font-weight:normal;margin:0 0 1.5em 0; text-align:right;}
h1.entry-title .sub-entry-title {  color:$mainPurpleColor; }
h1.entry-title .sub-entry-title:before {  content: "|";  color: $mainPurpleColor;  padding: 0 .25em; }
.page-content, .entry-content, .entry-summary {  margin: 0; }
p.site-description {  margin: 0 0 1em 0; color:$blackColor; }

h2.entry-title {  margin: .25em 0; }

/*--- SIDEBAR TYPOGRAPHY --*/
#secondary h2 {  font-size: 1.25em; font-weight:bold; font-family:$titleFont; background:$whiteColor; text-align:center; padding:1em 0 0 0; margin:0;}
#secondary ul {  list-style: none;  padding: 0; }
#secondary .widget_nav_menu {  font-size: 1em; }
#secondary .widget_nav_menu a {  text-decoration: none; }
#secondary .widget_nav_menu a:hover {  color: #b16d00;  text-decoration: underline; }
#secondary li {  line-height: 1em;  margin-bottom: 1em;  text-align: left; }
#secondary .textwidget h2 {  font-size: 1em; font-weight:bold; font-family:$defaultFont; background:transparent; text-align:left; padding:.5em 0; margin:0;}
#secondary .textwidget ul {  list-style: disc;  padding: 0 0 0 1em;; }secondary li {  line-height: 1em;  margin-bottom: 1em;  text-align: left; }
/*--- SPECIAL FOR THE DEFAULT SIDEBAR ---*/
#secondary .textwidget .grow-container h2{padding: .5em 0 1em 0;font-size:1.1em;}
#secondary .textwidget .grow-container h3{margin:0 0 .25em 0;}
#secondary .textwidget .grow-container h3::first-letter{font-weight:bold; }
#secondary .textwidget .grow-container ul{padding: 0 0 1em 1em;}
#secondary .textwidget .grow-container li{margin-bottom: .25em;}