
$defaultFont: "Foundry Sans","Frutiger", "Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif; 
$titleFont:"Foundry Sans","Frutiger", "Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif ;/*"Myriad Pro",Tahoma,Helvetica,Verdana,Arial*/
$serifFont:'Cinzel', Georgia,Times,Times New Roman,serif;
$nerdFont:Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;
$navigationFont: PT Sans Narrow,Helvetica,Tahoma,Verdana,Arial; 

$logoGreen:#327355;
$defaultFontColor:#282828; /*-- same as body text color --*/
$blackColor:#282828; /*-- same as body text color --*/
$whiteColor:#ffffff;
$linkDefaultColor:#54386b; /*--- same as main purple color ---*/
$linkHoverColor:#7d6ca2; /*--- same as medium purple color ---*/

$headerFontColor:#001f30;
$logoBlueColor:#013765;
$darkerTurquoiseColor: #06304a;
$linkDefaultColor:#b16d00;
$linkHoverColor:#653e01;


$mediumGreyColor:#949696;
$navFirstLevelLabel:#6d3535;
$navFirstLevelHover:#281313;
$navFirstLevelBackground:#ffffff;
$navSecondLevelLabel:#6d3535;
$navSecondLevelBackground:#ffffff;
$smallMenuBackground:#ffffff;
$smallMenuText:#000000;

$logoGoldColor:#e7c15c;
$darkGoldColor:#675629;
$royalBlueColor:#08184d;
$darkGreyColor:#282a2e;
$logoGreyColor:#a7a9ac;

$backgroundPurpleColor:#e6eaed;
$borderPurpleColor:#c3c5d4;



$bodyTextColor:#353535;
$blueHeadlineBackground:#c3cbe0;

$accentPurpleColor:#a5a8ce;

/*-------------MODIFIED COLORS -------------*/
$mainPurpleColor: #5B3B8C;/*663399 | 54386b*/
$mediumPurpleColor:#765DA0;/*6666cc | 7d6ca2*/
$lightPurpleColor:#A495C3;/* b1b6d4 */
$lightestPurpleColor:#CCC4DF;/*--NEW--*/

$yellowAccentColor:#F1C586;/* ffcc99 | fdc383*/
$blueAccentColor:#6799C8;/* 293ae7 */
$orangeAccentColor:#F1C586;/* f67648 | f68a70*/
$greyAccentColor:#353535;/* 676b74  */
$greenAccentColor:#A8D7B0;/*--98d7a4--*/
$mediumGreyColor:#BDBDBE;
$lightGreyColor:#F0F0F0;/* bfbfbf */